<section class="py-10 px-8 text-center">
  <div class="border-circle">
    <img src="assets/imgs/auraTitleLogo.png" alt="" width="56px" height="56px">
  </div>
  <h4 class="text-gradient mt-4 d-inline-block">Buy AURA now on</h4>
  <div class="d-flex justify-content-center align-items-center mt-10">
    <a href="https://www.baryon.network/swap/0x23c5d1164662758b3799103effe19cc064d897d6/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56" target="_blank">
      <picture>
        <source media="(min-width: 992px)" srcset="assets/imgs/pages/popup/baryon-des.png">
        <img src="assets/imgs/pages/popup/baryon-mob.png" alt="Baryon">
      </picture>
    </a>
    <a href="https://app.impossible.finance/swap?inputCurrency=0xe9e7cea3dedca5984780bafc599bd69add087d56&outputCurrency=0x23c5D1164662758b3799103Effe19cC064d897D6" target="_blank" class="ml-4">
      <picture>
        <source media="(min-width: 992px)" srcset="assets/imgs/pages/popup/finance-des.png">
        <img src="assets/imgs/pages/popup/finance-mob.png" alt="Finance">
      </picture>
    </a>
  </div>
  <div class="mt-8">
    <a href="https://insight.aura.network/aura-token-dex-listing-on-impossible-finance-swap-and-coin98-x-baryon/"
       target="_blank"
       class="my-3 mx-5 body d-flex justify-content-center">
      <span class="text-gradient d-inline-block">See more details: Aura Token Dex Listing</span>
    </a>
  </div>
</section>
