.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  height: 40px;
  background-color: #24262E;
}
::ng-deep .copyToolTip {
  background-color: #363843 !important;
  border-radius: 8px !important;
  height: 40px;
  padding: 0 16px 0 40px !important;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  &:before {
    content: '';
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("/../../assets/imgs/icons-svg/color/check-green-circle.svg") no-repeat;
  }
}
