<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col small-body pt-3 d-flex align-items-center">
        <div>
          <span class="text--white">Contract: </span>
          <span class="text-gradient">{{ env.contractName }}</span>
        </div>
        <div class="ml-6 d-flex align-items-center">
          <img src="assets/imgs/auraTitleLogo.png" alt="" width="20px" height="20px">
          <span class="ml-1" id="popupCopy">{{env.contractAddress}}</span>
          <button class="button button-circle ml-2"
                  matTooltip="Copied!"
                  #tooltip1="matTooltip"
                  (mouseenter)="$event.stopImmediatePropagation()"
                  (mouseleave)="$event.stopImmediatePropagation()"
                  [matTooltipClass]="'copyToolTip'"
                  (click)="copyData(env.contractAddress); tooltip1.toggle()">
            <img src="assets/imgs/icons-svg/basic/copy.svg" alt="" class="button-icon">
          </button>
          <a href="https://bscscan.com/address/0x23c5D1164662758b3799103Effe19cC064d897D6" target="_blank"
             class="button button-circle ml-2">
            <img src="assets/imgs/icons-svg/basic/redirect.svg" alt="" class="button-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
