<div class="aura-card aura-card-staff">
  <img src="assets/imgs/pages/team/staff_1.png" alt="staff_1" class="card__image">
  <div class="px-9">
    <h3 class="card__title mt-4">Dr. Truong Gia Binh</h3>
    <div class="card__excerpt mt-2 small-text">Founder & Chairman of<br/>FPT Corporation </div>
    <div class="card__button button button-secondary small-text mt-2">Advisors</div>
    <div class="card__desc mt-2 text--neutrals-4">
      Dr. Binh supports Aura expanding business relation as well as advance Aura goals by facilitating integrations
      with the growing number of industry partners.
    </div>
  </div>
</div>
