<div id="countdown">
  <ul class="d-flex">
    <li class="text-center">
      <div class="countdown__box">
        <span id="days" class="countdown__timer"></span>
      </div>
      <div class="small-body small-text mt-1 text--gray-4">Day</div>
    </li>
    <li class="countdown__separate">:</li>
    <li class="text-center">
      <div class="countdown__box">
        <span id="hours" class="countdown__timer"></span>
      </div>
      <div class="small-body small-text mt-1 text--gray-4">Hour</div>
    </li>
    <li class="countdown__separate">:</li>
    <li class="text-center">
      <div class="countdown__box">
        <span id="minutes" class="countdown__timer"></span>
      </div>
      <div class="small-body small-text mt-1 text--gray-4">Min</div>
    </li>
    <li class="countdown__separate">:</li>
    <li class="text-center">
      <div class="countdown__box">
        <span id="seconds" class="countdown__timer"></span>
      </div>
      <div class="small-body small-text mt-1 text--gray-4">Sec</div>
    </li>
  </ul>
</div>
