/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./../assets/fonts/PPMori-SemiBold.otf","variable":"--font-ppmori-semibold"}],"variableName":"ppmori"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__ppmori_06bd0c';
src: url(/_next/static/media/cb07cb684de218c2-s.p.otf) format('opentype');
font-display: swap;
}@font-face {font-family: '__ppmori_Fallback_06bd0c';src: local("Arial");ascent-override: 69.72%;descent-override: 18.59%;line-gap-override: 9.30%;size-adjust: 107.57%
}.__className_06bd0c {font-family: '__ppmori_06bd0c', '__ppmori_Fallback_06bd0c'
}.__variable_06bd0c {--font-ppmori-semibold: '__ppmori_06bd0c', '__ppmori_Fallback_06bd0c'
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_e66fe9';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_e66fe9 {font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-6 {
  top: 1.5rem;
}
.top-\[242px\] {
  top: 242px;
}
.z-\[9999\] {
  z-index: 9999;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-\[141px\] {
  margin-top: 141px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-16 {
  height: 4rem;
}
.h-5 {
  height: 1.25rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-9 {
  height: 2.25rem;
}
.h-\[124px\] {
  height: 124px;
}
.h-\[167px\] {
  height: 167px;
}
.h-\[184px\] {
  height: 184px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[216px\] {
  height: 216px;
}
.h-\[296px\] {
  height: 296px;
}
.h-\[335px\] {
  height: 335px;
}
.h-\[472px\] {
  height: 472px;
}
.h-\[54px\] {
  height: 54px;
}
.h-\[56px\] {
  height: 56px;
}
.h-\[64px\] {
  height: 64px;
}
.h-auto {
  height: auto;
}
.max-h-\[484px\] {
  max-height: 484px;
}
.max-h-\[70px\] {
  max-height: 70px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}
.w-24 {
  width: 6rem;
}
.w-5 {
  width: 1.25rem;
}
.w-\[117px\] {
  width: 117px;
}
.w-\[126px\] {
  width: 126px;
}
.w-\[133px\] {
  width: 133px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[145px\] {
  width: 145px;
}
.w-\[175px\] {
  width: 175px;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[284px\] {
  width: 284px;
}
.w-\[323px\] {
  width: 323px;
}
.w-\[344px\] {
  width: 344px;
}
.w-\[58px\] {
  width: 58px;
}
.w-\[86px\] {
  width: 86px;
}
.w-\[87px\] {
  width: 87px;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.min-w-\[313px\] {
  min-width: 313px;
}
.max-w-\[220px\] {
  max-width: 220px;
}
.max-w-\[344px\] {
  max-width: 344px;
}
.max-w-\[345px\] {
  max-width: 345px;
}
.max-w-\[659px\] {
  max-width: 659px;
}
.max-w-\[717px\] {
  max-width: 717px;
}
.max-w-\[867px\] {
  max-width: 867px;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[34px\] {
  gap: 34px;
}
.self-stretch {
  align-self: stretch;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-\[32px\] {
  border-radius: 32px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-\[\#FFD569\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 213 105 / var(--tw-border-opacity));
}
.border-\[rgba\(150\2c 140\2c 124\2c 0\.20\)\] {
  border-color: rgba(150,140,124,0.20);
}
.border-\[rgba\(254\2c 119\2c 108\2c 0\.12\)\] {
  border-color: rgba(254,119,108,0.12);
}
.border-\[rgba\(254\2c 119\2c 108\2c 0\.16\)\] {
  border-color: rgba(254,119,108,0.16);
}
.border-\[rgba\(255\2c 255\2c 255\2c 0\.20\)\] {
  border-color: rgba(255,255,255,0.20);
}
.border-blur-grayish-brown {
  border-color: var(--blur-grayish-brown);
}
.border-b-blur-grayish-brown {
  border-bottom-color: var(--blur-grayish-brown);
}
.bg-\[\#181614\] {
  --tw-bg-opacity: 1;
  background-color: rgb(24 22 20 / var(--tw-bg-opacity));
}
.bg-\[\#1D1A18\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 26 24 / var(--tw-bg-opacity));
}
.bg-\[rgba\(255\2c 255\2c 255\2c 0\.15\)\] {
  background-color: rgba(255,255,255,0.15);
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-blur-dark-charcoal {
  background-color: var(--blur-dark-charcoal);
}
.bg-dark-charcoal {
  background-color: var(--dark-charcoal);
}
.bg-light-charcoal {
  background-color: var(--light-charcoal);
}
.bg-medium-charcoal {
  background-color: var(--medium-charcoal);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-\[url\(\'\.\.\/assets\/images\/img_background\.svg\'\)\] {
  background-image: url(/_next/static/media/img_background.9266b932.svg);
}
.bg-\[url\(\'\.\.\/assets\/images\/img_footer_mb\.png\'\)\] {
  background-image: url(/_next/static/media/img_footer_mb.d912710e.png);
}
.bg-blur-brand-linear-gradient {
  background-image: linear-gradient(339deg, rgba(255, 213, 105, 0.08) 23.57%, rgba(252, 142, 79, 0.08) 50.76%, rgba(255, 105, 123, 0.08) 76.37%);
}
.bg-brand-gradient {
  background-image: linear-gradient(339deg, #FFD569, #FC8E4F, #FF697B);
}
.bg-brand-linear-gradient {
  background-image: linear-gradient(339deg, #FFD569 23.57%, #FC8E4F 50.76%, #FF697B 76.37%);
}
.bg-ecosystem-gradient {
  background-image: linear-gradient(334deg, #EDBA37 -2.09%, #E8793A 49.81%, #F64C60 98.68%);
}
.from-\[\#FF697B\] {
  --tw-gradient-from: #FF697B var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 105 123 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.via-\[\#FC8E4F\] {
  --tw-gradient-to: rgb(252 142 79 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #FC8E4F var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.to-\[\#FFD569\] {
  --tw-gradient-to: #FFD569 var(--tw-gradient-to-position);
}
.bg-cover {
  background-size: cover;
}
.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.p-\[1px\] {
  padding: 1px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-\[120px\] {
  padding-bottom: 120px;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pt-14 {
  padding-top: 3.5rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-\[200px\] {
  padding-top: 200px;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.font-ppmori-semibold {
  font-family: var(--font-ppmori-semibold);
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[40px\] {
  font-size: 40px;
}
.text-\[48px\] {
  font-size: 48px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-8 {
  line-height: 2rem;
}
.leading-9 {
  line-height: 2.25rem;
}
.leading-\[40px\] {
  line-height: 40px;
}
.leading-\[48px\] {
  line-height: 48px;
}
.leading-\[52px\] {
  line-height: 52px;
}
.leading-normal {
  line-height: 1.5;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-light-yellow {
  color: var(--light-yellow);
}
.text-medium-gray {
  color: var(--medium-gray);
}
.text-transparent {
  color: transparent;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-\[2px_2px_0px_0px_rgba\(255\2c 255\2c 255\2c 0\.2\)_inset\2c 0px_-2px_0px_0px_rgba\(0\2c 0\2c 0\2c 0\.04\)_inset\] {
  --tw-shadow: 2px 2px 0px 0px rgba(255,255,255,0.2) inset,0px -2px 0px 0px rgba(0,0,0,0.04) inset;
  --tw-shadow-colored: inset 2px 2px 0px 0px var(--tw-shadow-color), inset 0px -2px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.backdrop-blur-\[20px\] {
  --tw-backdrop-blur: blur(20px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blur-dark-charcoal: rgba(31, 28, 25, 0.90);
  --dark-charcoal: #171513;
  --medium-charcoal: #292523;
  --light-charcoal: #3B3632;
  --black-charcoal: #0C0A09;
  --blur-grayish-brown: rgba(64, 59, 53, 0.45);
  --light-yellow: #FFD369;
  --medium-gray: #968C7C;
  --swiper-pagination-color: #FFBF61;
  --swiper-pagination-bullet-inactive-color: #2C2925;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--black-charcoal)
}

.main-container {
  padding-top: 118px;
  margin: auto;
  padding-right: 24px;
  padding-left: 24px;
}


@media screen and (min-width: 320px) {
  .card {
    width: 272px;
  }
}

@media screen and (min-width: 375px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    max-width: 748px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .main-container {
    padding-top: 250px;
    max-width: 748px;
    margin: auto;
  }
  .nav-menu {
    display: none !important;
  }
  .nav-icon-close {
    display: none !important;
  }
  .navbar-container {
    border-radius: 32px !important;
  }
}

/* Coin98 icon */
.icon:hover #coin98 path {
  fill: url(#paint0_linear_561_9462);
}

/* Hashed icon */
.icon:hover #hashed path {
  fill: white;
}

/* Fpt icon */
.icon:hover #fpt #Vector {
  fill: #1C6EB2;
}

.icon:hover #fpt #Vector_2 {
  fill: #F3762F;
}

.icon:hover #fpt #Vector_3 {
  fill: #1FB351;
}

.icon:hover #fpt #Vector_4,
.icon:hover #fpt #Vector_5,
.icon:hover #fpt #Vector_6 {
  fill: white;
}

/* Kyber icon */
.icon:hover #kyber #Group #Vector,
.icon:hover #kyber #Group #Vector_2,
.icon:hover #kyber #Group #Vector_3,
.icon:hover #kyber #Group #Vector_4,
.icon:hover #kyber #Group #Vector_5,
.icon:hover #kyber #Group #Vector_6,
.icon:hover #kyber #Group #Vector_7,
.icon:hover #kyber #Group #Vector_8,
.icon:hover #kyber #Group #Vector_9,
.icon:hover #kyber #Group #Vector_10,
.icon:hover #kyber #Group #Vector_11,
.icon:hover #kyber #Group #Vector_12,
.icon:hover #kyber #Group #Vector_13,
.icon:hover #kyber #Group #Vector_14 {
  fill: white;
}

.icon:hover #kyber #Vector_15,
.icon:hover #kyber #Vector_16,
.icon:hover #kyber #Vector_17,
.icon:hover #kyber #Vector_18 {
  fill: #39CDA1;
}

/* Blizzard icon */
.icon:hover #blizzard path {
  fill: #E74A46;
}

/* NGC icon */
.icon:hover #ngc path {
  fill: white;
}

/* Statistic card */
.statistic-card:hover #card-bg circle {
  fill: url(#paint0_linear_566_10821);
  fill-opacity: 1
}

.statistic-card:hover {
  background: url(/_next/static/media/mask.f9e8a2f6.png), #221F1C;
  border: 1px solid #FD9552;
  box-shadow: 0px 68px 160px 0px rgba(0, 0, 0, 0.45);
}

/* Swiper */
.swiper-pagination-bullet-active {
  height: 6px !important;
  width: 6px !important;
}

.swiper {
  height: 358px !important;
}

.swiper-slide {
  width: auto !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
  height: 17px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(339deg, #FFD569, #FC8E4F, #FF697B);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Navbar */
.nav-input:checked~.nav-menu {
  display: block;
}

.nav-input:checked~.navbar-container {
  border-radius: 1rem 1rem 0 0;
}

.nav-icon-close {
  display: none;
}

.nav-input:checked~.navbar-container .nav-icon-menu {
  display: none;
}

.nav-input:checked~.navbar-container .nav-icon-close {
  display: block;
}

.hover\:border:hover {
  border-width: 1px;
}

.hover\:border-\[\#262320\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(38 35 32 / var(--tw-border-opacity));
}

.hover\:bg-dark-charcoal:hover {
  background-color: var(--dark-charcoal);
}

.hover\:bg-light-charcoal:hover {
  background-color: var(--light-charcoal);
}

.hover\:bg-medium-charcoal:hover {
  background-color: var(--medium-charcoal);
}

.hover\:bg-gradient-to-br:hover {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.hover\:bg-none:hover {
  background-image: none;
}

.hover\:pb-\[72px\]:hover {
  padding-bottom: 72px;
}

.hover\:text-\[\#FD9552\]:hover {
  --tw-text-opacity: 1;
  color: rgb(253 149 82 / var(--tw-text-opacity));
}

.group:hover .group-hover\:z-\[1\] {
  z-index: 1;
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-brand-gradient {
  background-image: linear-gradient(339deg, #FFD569, #FC8E4F, #FF697B);
}

.group:hover .group-hover\:fill-dark-charcoal {
  fill: var(--dark-charcoal);
}

@media not all and (min-width: 768px) {

  .max-md\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px) {

  .lg\:top-10 {
    top: 2.5rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:contents {
    display: contents;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-10 {
    height: 2.5rem;
  }

  .lg\:h-11 {
    height: 2.75rem;
  }

  .lg\:h-16 {
    height: 4rem;
  }

  .lg\:h-6 {
    height: 1.5rem;
  }

  .lg\:h-9 {
    height: 2.25rem;
  }

  .lg\:h-\[352px\] {
    height: 352px;
  }

  .lg\:h-\[70px\] {
    height: 70px;
  }

  .lg\:w-16 {
    width: 4rem;
  }

  .lg\:w-6 {
    width: 1.5rem;
  }

  .lg\:w-\[107px\] {
    width: 107px;
  }

  .lg\:w-\[111px\] {
    width: 111px;
  }

  .lg\:w-\[159px\] {
    width: 159px;
  }

  .lg\:w-\[176px\] {
    width: 176px;
  }

  .lg\:w-\[182px\] {
    width: 182px;
  }

  .lg\:w-\[427px\] {
    width: 427px;
  }

  .lg\:w-\[480px\] {
    width: 480px;
  }

  .lg\:w-\[65px\] {
    width: 65px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-\[1038px\] {
    max-width: 1038px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:rounded-full {
    border-radius: 9999px;
  }

  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:pb-14 {
    padding-bottom: 3.5rem;
  }

  .lg\:pl-5 {
    padding-left: 1.25rem;
  }

  .lg\:pl-\[28px\] {
    padding-left: 28px;
  }

  .lg\:pr-2 {
    padding-right: 0.5rem;
  }

  .lg\:pt-20 {
    padding-top: 5rem;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[22px\] {
    font-size: 22px;
  }

  .lg\:text-\[48px\] {
    font-size: 48px;
  }

  .lg\:text-\[56px\] {
    font-size: 56px;
  }

  .lg\:text-\[80px\] {
    font-size: 80px;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[56px\] {
    line-height: 56px;
  }

  .lg\:leading-\[64px\] {
    line-height: 64px;
  }

  .lg\:leading-\[80px\] {
    line-height: 80px;
  }
}

@media (min-width: 1280px) {

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }
}

