<nav class="aura-navbar">
    <div class="container">
        <div class="aura-nav-content">
            <a class="aura-navbar-brand" href="#">
                <img src="../../assets/img/Logo.png" alt="" class="d-inline-block align-text-top">
            </a>
            <div class="aura-nav-menu">
                <ul class="aura-navbar-nav align-items-center mb-2">
                    <li class="aura-nav-item">
                        <a class="aura-nav-link active" aria-current="page" (click)="scroll('roadmap')">Roadmap</a>
                    </li>
                    <li class="aura-nav-item">
                        <a class="aura-nav-link" (click)="scroll('team')">Team</a>
                    </li>
                    <li class="aura-nav-item">
                        <a class="aura-nav-link" (click)="scroll('partner')">Partner</a>
                    </li>
                    <li class="aura-nav-item">
                        <a class="aura-nav-link" (click)="scroll('advisors')">White Paper</a>
                    </li>
                    <li class="aura-nav-item">
                        <a class="aura-nav-link" (click)="scroll('community')">Community</a>
                    </li>
                </ul>
            </div>
            <a class="aura-nav-link" href="#">
                <button class="btn btn-outline-metaverse" type="button" matTooltip="Feature is coming soon!">Start Now!</button>
            </a>
        </div>
    </div>
</nav>