.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--aura-black);
    .navbar-toggler {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        &:focus {
            box-shadow: none;
        }
        i.icon {
            //transition: background .35s ease-in-out;
            width: 100%;
            height: 100%;
        }
        i.icon:before {
            background: url("../../assets/imgs/icons-svg/color/burger.svg") center no-repeat;
            background-size: 30px;
        }
        i.icon.close:before {
            background: url("../../assets/imgs/icons-svg/basic/close.svg") center no-repeat;
            background-size: 30px;
        }
    }
    .nav-menu {
        position: relative;
        @media (max-width: 991px) {
            .dropdown {
                position: static;
            }
        }
        .nav-item {
            .divider.divider-vertical {
                min-height: var(--spacer-12);
            }
            .nav-link {
                width: max-content;
                cursor: pointer;
                background: transparent;
                color: var(--aura-light-gray);
                transition: all 0.35s ease-in-out;
                padding-top: 0;
                padding-bottom: 10px;
                position: relative;
                &:after {
                    border: none;
                    width: var(--spacer-5);
                    height: var(--spacer-5);
                    background: url("../../assets/imgs/icons-svg/basic/chevron-down.svg") center no-repeat;
                    background-size: contain;
                    margin-left: var(--spacer-2);
                    transition: background 0.45s ease-in-out;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    @media (min-width: 992px) {
                        top: 0;
                        transform: translateY(55%);
                    }
                }
                //&:hover {
                //  &:after {
                //    background: url("../../assets/imgs/icons/white/chevron-down.svg") center no-repeat;
                //    background-size: contain;
                //  }
                //}
                &.show {
                    &:after {
                        background: url("../../assets/imgs/icons-svg/white/chevron-up.svg") center no-repeat;
                        background-size: contain;
                    }
                }
                &:hover,
                &.show {
                    color: var(--aura-white);
                }
                &:first-child {
                    margin-left: 0;
                }
            }
            .h4 {
                margin-bottom: 0;
            }
            .dropdown-menu {
                border: none;
                display: block !important;
                max-height: 0;
                padding: 0;
                overflow: hidden;
                opacity: 0;
                min-width: fit-content;
                background: transparent;
                transition: all 0.35s ease-in-out;
                &.show {
                    max-height: 300px;
                    padding: var(--spacer-6) 0;
                    opacity: 1;
                }
                li {
                    display: block;
                    text-align: center;
                    @media (min-width: 992px) {
                        text-align: left;
                    }
                    @media (max-width: 991px) {
                        text-align: left;
                        // &:after {
                        //     content: "";
                        //     position: absolute;
                        //     left: 0;
                        //     right: 0;
                        //     height: 1px;
                        //     width: 100%;
                        //     background-color: var(--aura-neutrals-3);
                        // }
                    }
                }
                .dropdown-item {
                    padding: var(--spacer-2) 0;
                    @media (min-width: 992px) {
                        padding: var(--spacer-2) var(--spacer-6);
                    }
                    color: var(--aura-white);
                    transition: background-color 0.35s ease-in-out;
                    &:hover,
                    &:focus {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
            @media (min-width: 992px) {
                .dropdown-menu {
                    left: -24px;
                    right: 0;
                    background: rgba(20, 20, 22, 0.95);
                    box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
                }
            }
        }
    }
    &.expanded {
        bottom: 0;
        overflow-y: scroll;
        @media (min-width: 992px) {
          bottom: unset;
          overflow-y: unset;
        }
    }
    .aura-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        width: 145px;
        height: 50px;
        cursor: pointer;
        @media (max-width: 991px) {
            width: 100%;
        }
        //   &:hover {
        //     padding: 23.5px;
        //   }
    }
    .aura-btn-outline-gradient {
        border-radius: 100rem;
        color: var(--aura-white);
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 1.5px transparent;
        background-image: linear-gradient(#000, #000), linear-gradient( 108deg, rgba(94, 230, 208, 1) 12.51%, rgba(191, 198, 255, 1) 51.13%, rgba(255, 186, 105, 1) 87.49%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #141416 inset;
        //   &:hover {
        //     box-shadow: none;
        //     color: white;
        //   }
    }
}
