.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--aura-black);
  .navbar-toggler {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
    i.icon {
      //transition: background .35s ease-in-out;
      width: 100%;
      height: 100%;
    }
      i.icon:before {
        background: url("../../assets/imgs/icons/color/burger.svg") center no-repeat;
        background-size: auto;
      }

      i.icon.close:before  {
        background: url("../../assets/imgs/icons/basic/close.svg") center no-repeat;
        background-size: auto;
      }

  }
  .nav-menu {
    .nav-item {
      .divider.divider-vertical { min-height: var(--spacer-12)}
      .nav-link {
        width: max-content;
        cursor: pointer;
        background: transparent;
        color: var(--aura-light-gray);
        transition: all .35s ease-in-out;
        padding-top: 0;
        padding-bottom: 10px;
        &:after {
          border: none;
          width: var(--spacer-3);
          height: var(--spacer-3);
          background: url("../../assets/imgs/icons/basic/chevron-down.svg") center no-repeat;
          background-size: contain;
          margin-left: var(--spacer-2);
          transform: translateY(25%);
          transition: background .45s ease-in-out ;
        }
        &:hover {
          &:after {
            background: url("../../assets/imgs/icons/white/chevron-down.svg") center no-repeat;
            background-size: contain;
          }
        }
        &.show {
          &:after {
            background: url("../../assets/imgs/icons/white/chevron-up.svg") center no-repeat;
            background-size: contain;
          }
        }
        &:hover,&.show {
          color: var(--aura-white);
        }
        &:first-child {
          margin-left: 0;
        }
      }
      .h4 { margin-bottom: 0}
      .dropdown-menu {
        border: none;
        display: block !important;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        min-width: fit-content;
        background: transparent;
        transition: all .35s ease-in-out;
        &.show {
          max-height: 300px;
          padding: var(--spacer-6) 0;
          opacity: 1;
        }
        li { display: block}
        .dropdown-item {
          padding: var(--spacer-2) 0;
          @media (min-width: 992px) {
            padding: var(--spacer-2) var(--spacer-6);
          }
          color: var(--aura-white);
          transition: background-color .35s ease-in-out;
          &:hover, &:focus {
            background-color: rgba(255,255,255,.2);
          }
        }
      }
      @media (min-width: 992px) {
        .dropdown-menu {
          left: -24px;
          right: 0;
          background: rgba(20, 20, 22, 0.95);
          box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }
  &--container {
    left: 50%;
    transform: translateX(-50%);
  }
  &.expanded {
    bottom: 0;
    overflow-y: scroll;
    @media (min-width: 992px) {
      bottom: unset;
    }
  }
}
