/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("./assets/img/Rectangle.png");
    background-color: #000;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.btn-outline-metaverse {
    position: relative;
    background-color: #13111a;
    color: #fff;
    border-radius: 25px;
    min-width: 150px;
    &:before {
        content: "";
        background: linear-gradient(130deg, #7353e5, #ce4da4 41.07%, #ce4da4 76.05%);
        position: absolute;
        top: -3px;
        left: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;
        border-radius: 25px;
    }
}

.btn-transparent {
    border-radius: 25px;
    min-width: 150px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.btn:hover,
a:hover {
    color: #fff !important;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09,
        0 0 151px #f09;
}

.img-zindex {
    z-index: -1;
    position: relative;
}

span,
h1,
p {
    color: #fff;
}

span {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3.2px;
    font-family: "Manrope", sans-serif;
    color: #d4d4d4;
    text-transform: uppercase;
    padding-bottom: 30px;
}
h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    color: #d4d4d4;
}

.section {
    padding: 100px 0;
}

.card {
    background: #1d1a27;
    box-shadow: 0px 17.1429px 42.8571px rgba(0, 0, 0, 0.5);
    border-radius: 17.1429px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 60px;
}
