// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "assets/fonts/Redig/Redig.css";
@import "assets/fonts/SfProDisplay/SfProDisplay.css";
@import "assets/styles/variables";
@import "assets/styles/reboot";
@import "assets/styles/spacer";
@import "assets/styles/typo";
@import "assets/styles/divider";
@import "assets/styles/button";
@import "assets/styles/icons";
@import "assets/styles/keyframes";
@import "assets/styles/image";
@import "assets/styles/cards";
@import "assets/styles/form";
@import "assets/styles/carousel";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aura-network-primary: mat-palette($mat-indigo);
$aura-network-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$aura-network-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aura-network-theme: mat-light-theme( ( color: ( primary: $aura-network-primary, accent: $aura-network-accent, warn: $aura-network-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($aura-network-theme);

/* You can add global styles to this file, and also import other style files */
body {
    background-color: var(--aura-black);
}

.btn-outline-metaverse {
    position: relative;
    background-color: #13111a;
    color: #fff;
    border-radius: 25px;
    min-width: 150px;
    &:before {
        content: "";
        background: linear-gradient(130deg, #7353e5, #ce4da4 41.07%, #ce4da4 76.05%);
        position: absolute;
        top: -3px;
        left: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;
        border-radius: 25px;
    }
}

.btn-transparent {
    border-radius: 25px;
    min-width: 150px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.card-mobile .slick-dots li button:before {
  background: #fcfcfd;
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 5px;
  // opacity: 0.25;
}

.card-mobile .slick-dots li.slick-active button:before {
  background: linear-gradient(108.46deg, #5EE6D0 12.51%, #BFC6FF 51.13%, #FFBA69 87.49%);
}