  .slick-track {
    display: flex;
    .slick-slide {
      opacity: 1;
      transition: opacity .35s ease-in-out;
      &:not(.slick-active) {
        opacity: 0.2;
      }
    }
  }
  .carousel--has-arrows {
    .slick-prev {
      left: 0 !important;
      @media (min-width: 1440px) {
        left: -100px !important;
      }
    }
    .slick-prev.slick-arrow,.slick-next.slick-arrow{
      opacity: 1;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--aura-gradient-simple);
      border-radius: 50%;
      transition: opacity .75s ease-in-out;
      z-index: 2;
      &::before {
        content: '';
        width: 18px;
        height: 12px;
        background: url("../imgs/icons/basic/arrow-right-2.png") center;
      }
    }
    .slick-prev.slick-arrow.slick-disabled,.slick-next.slick-arrow.slick-disabled {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slick-next.slick-arrow {
      right: 57px;
    }
    .slick-prev.slick-arrow {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  .carousel--has-separator {
    .slide.slick-slide:not(:last-child) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -24px;
        width: 62px;
        height: 80px;
        background: url("../imgs/pages/slider-separator.png") center no-repeat;
        background-size: contain;
        transform: translate3D(100%, 0, 0);
        @media (min-width: 992px) {
          width: 80px;
          background-size: cover;
        }
      }
    }
  }
  .slick-slide, .slick-slide *{ outline: none !important; }
