.slick-track {
  display: flex;
  .slick-slide {
    opacity: 1;
    transition: opacity .35s ease-in-out;
    &:not(.slick-active) {
      opacity: 0.2;
    }
  }
}
.team .slick-track {
  display: flex;
  //overflow: visible;
  .slick-slide {
    //opacity: 0;
    transition: opacity 0.35s ease-in-out;
    &.slick-current,
    &.slick-active {
      opacity: 1;
    }
  }
}

.slick-slider .slick-list {
  overflow: visible;
}

.carousel--has-arrows {
  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    opacity: 1;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--aura-dark-gray);
    border-radius: 50%;
    transition: opacity 0.75s ease-in-out;
    z-index: 2;
    &::before {
      content: "";
      width: 20px;
      height: 12px;
      background: url("../imgs/icons-svg/color/arrow-right.svg") center;
      background-repeat: no-repeat;
    }

    @media (min-width: 1024px) {
      width: 48px;
      height: 48px;
    }
  }
  .slick-prev.slick-arrow.slick-disabled,
  .slick-next.slick-arrow.slick-disabled {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slick-next.slick-arrow {
    right: 0;
    top: 20%;
    @media (min-width: 1024px) {
      top: 50%;
    }
    @media (min-width: 1366px) {
      transform: translateX(100%);
    }
  }
  .slick-prev.slick-arrow {
    &::before {
      transform: rotate(180deg);
    }
    top: 20%;
    left: 13.5px;
    @media (min-width: 1024px) {
      top: 50%;
    }
    @media (min-width: 1366px) {
      transform: translateX(-100%);
    }
    @media (min-width: 1439.9px) {
      left: 0;
    }
  }
}
.carousel--has-separator {
  .slide.slick-slide {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 46px;
      height: 80px;
      background: url("../imgs/pages/slider-separator.png") center no-repeat;
      background-size: contain;
      @media (min-width: 424) {
        width: 62px;
      }
      @media (min-width: 992px) {
        width: 80px;
        background-size: cover;
      }
    }
    &:before {
      // left: -16px;
      display: none;
    }
    &:after {
      right: -32px;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    @media (min-width: 375px) {
      &:before {
        display: none;
      }
      &:not(:last-child) {
        &:after {
          right: 0;
          transform: translateX(50%);
          @media (min-width: 425px) {
            transform: unset;
          }
          @media (min-width: 768px) {
            transform: translateX(-50%);
          }
          @media (min-width: 1152px) {
            transform: unset;
          }
          @media (min-width: 1200px) {
            transform: translateX(50%);
          }
        }
      }
    }
  }
}
.slick-slide,
.slick-slide * {
  outline: none !important;
}
