.contract-info {
  border-radius: 40px;
  background-color: #24262E;
  height: 40px;
  padding: 0 32px;
  color: #868A97;
  .button.button-circle {
    background-color: #494C58;
  }
}
.aura-dialog {
  .mat-dialog-container {
    background-color: #131419;
    box-shadow: 0px 10px 30px 20px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    padding: 0;
  }
}
#popupCopy, #popupCopy2 {
  color: #E5E7EA;
}
