$icon-variables: (
  'fb-circle',
  'instagram',
  'twitter',
  'discord',
  'telegram',
  'linkedIn',
  'behance',
  'dribble',
  'burger',
  'close',
);
$icon-black-variables: (
  'chain',
  'film',
  'heart',
);
$icon-white-variables: (
  'announcement',
  'hdd-network',
  'key',
  'people',
  'target',
)
