@import "icons-variable";
.icon {
  font-size: 20px;
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity .35s ease-in-out;
  }
  &-circle {
    padding: var(--spacer-3);
    background: var(--aura-gradient-simple);
    border-radius: 50%;
    color: var(--aura-black);
    font-size: 48px;
    &:before {
      width: 0.5em;
      height: 0.5em;
      margin: auto;
    }
  }
}
@each $icon-name in $icon-variables {
  .icon-#{$icon-name} {
    &::before {
      background: url("../imgs/icons-svg/basic/#{$icon-name}.svg") no-repeat center;
      background-size: contain;
    }
  };
  .icon-#{$icon-name}.icon--multi-color {
    &::before {
      background: url("../imgs/icons-svg/color/#{$icon-name}.svg") no-repeat center;
      background-size: contain;
    }
  };
  .icon-#{$icon-name}.icon--switch-stage {
    &::before {
      background: url("../imgs/icons-svg/basic/#{$icon-name}.svg") no-repeat center;
      background-size: contain;
    }
    &::after {
      opacity: 0;
      background: url("../imgs/icons-svg/color/#{$icon-name}.svg") no-repeat center;
      background-size: contain;
    }
    @media (min-width: 992px) {
       &:hover {
         &::before {
           opacity: 0;
         }
       }
       &:hover {
         &::after {
           opacity: 1;
         }
       }
    }
    &:active {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  };
}
@each $icon-name in $icon-black-variables {
  .icon-#{$icon-name} {
    &::before {
      background: url("../imgs/icons-svg/black/#{$icon-name}.svg") no-repeat center;
      background-size: contain;
    }
  }
}
//@each $icon-name in $icon-white-variables {
//  .icon-#{$icon-name} {
//    &::before {
//      background: url("../imgs/icons/white/#{$icon-name}.png") no-repeat center;
//      background-size: contain;
//    }
//  }
//}
