.aura-hero {
  min-height: 510px;
  background-size: cover;
  background: url("../../../assets/imgs/backgrounds/bw_space_lineart--mob.png") no-repeat center;
  mix-blend-mode: lighten;
  @media (min-width: 414px) {
    min-height: 780px;
  }
  @media (min-width: 576px) {
    min-height: 950px;
  }
  @media (min-width: 768px) {
    min-height: 1200px;
  }
  @media (min-width: 992px) {
    min-height: 1367px;
    background: url("../../../assets/imgs/backgrounds/bw_space_lineart.png") no-repeat center;
    background-size: cover;
  }
  @media (min-width: 1025px) {
    background-size: contain;
  }
  position: relative;
  .img-contain {
    position: relative;
    top: 100px;
    .img-title {
      @media (max-width: 1600px) {
        max-height: 305px;
      }
    }
    .img-astronaut {
      position: absolute;
      overflow: hidden;
      width: 100%;
      max-width: 810px;
      top: 69.8360%;
      left: 50%;
      transform: translateX(-50%);
      img  {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      &:before {
        content: "";
        display: block;
        padding-top: 119.7530%;
      }
    }
  }
}
.introduction {
  position: relative;
  @media (min-width: 992px) {
    padding-bottom: 300px;
  }
}
section.partner {
  margin-top: var(--spacer-20);
  @media (min-width: 992px) {
    margin-top: 76px;
    .title { font-weight: bold; }
  }
}
.partner-group {
  margin: 0 -28px;
  @media (min-width: 992px) {
    margin: auto;
  }
  img {
    padding: 0 14px;
    margin-bottom: var(--spacer-4);
    height: 20px;
    @media (min-width: 375.99px) {
      height: auto;
    }
    @media (min-width: 992px) {
      padding: 0 24px;
      margin-bottom: var(--spacer-8);
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.team {
  position: relative;
  margin-top: 40px;
  .button-primary {
    min-width: 100px;
    @media (min-width: 320.99px) {
      min-width: 168px;
    }
  }
  .carousel {
    .slick-slide {
      width: 252px;
      margin: 0 16px;
      @media (min-width: 992px) {
        width: 298px;
        margin: 0 15px;
      }
      @media (min-width: 1024px) {
        width: 343px;
        margin: 0 20px;
      }
      display: inline-table;
    }
    .slick-list {
      margin: 0 -20px;
    }
  }
  &#advisors {
    margin-top: 40px;
    @media (min-width: 992px) {
      margin-top: 200px;
    }
  }
  &#team {
    margin-top: 40px;
    @media (min-width: 992px) {
      margin-top: 300px;
    }
  }
}
.feature {
  article {
    @media (min-width: 992px) {
      background: url("../../../assets/imgs/backgrounds/bw_space_lineart_2.png") top;
      mix-blend-mode: lighten;
      background-size: contain;
    }
  }
}
.road-map {
  margin-top: 40px;
  &__img {
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background: var(--aura-gradient-simple);
    i.icon {
      font-size: 24px;
    }
  }
  .content__info {
    margin-top: var(--spacer-4);
  }
  .carousel {
    margin-top: 40px;
    padding: 0 16px;
    padding-right: 0;
    .slick-slide {
      margin: 0 50px;
      @media (min-width: 992px) {
        margin: 0 64px;
      }
    }
  }
  @media (min-width: 768px) {
    background: url("../../../assets/imgs/backgrounds/ROADMAP.png") left top no-repeat;
    background-size: contain;
    padding-top: 240px;
    .carousel {
      margin-top: 80px;
    }
  }
  @media (min-width: 992px) {
    padding-top: 298px;
  }
  @media (min-width: 1200px) {
    background-size: auto;
    .carousel {
      transform: translateY(25%);
    }
  }
}
.faq {
  margin-top: var(--spacer-10);
  position: relative;
  &__contain {
    position: relative;
    .aura-color-logo {
      width: 160px;
      height: 60px;
    }
    .h1 {
      background: var(--aura-gradient-simple);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .title {
      font-weight: 600;
      @media (min-width: 992px) {
        font-weight: 700;
      }
    }
    ol {
      padding-left: 32px;
      list-style: none;
      counter-reset: item;
      li {
        padding-left: 24px;
        position: relative;
        &:before {
          content: counter(item);
          counter-increment: item;
          font-family: Redig;
          color: var(--aura-dark-gray);
          position: absolute;
          width: 32px;
          height: 32px;
          left: -32px ;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          font-size: 20px;
          background: url("../../../assets/imgs/pages/marker-frame.svg");
        }
      }
    }
    background: url("../../../assets/imgs/backgrounds/question-bg-mob.png") no-repeat;
    background-size: contain;
    background-position-x: 100%;
    background-position-y: 100px;
    @media (min-width: 992px) {
      background: none;
    }
  }
  img.background {
    mix-blend-mode: lighten;
  }
  @media (min-width: 1200px) {
    margin-top: 170px;
  }
}
// Override component
:host::ng-deep {
  .aura-card.aura-card--sm {
    min-height: 296px;
  }
}
/* Heading style */
h1, h2 {
  background: var(--aura-gradient-simple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aura-color-logo {
  max-width: 169px;
  &:before {
    padding-top: 38.46153846%;
  }
}
ul.aura-list {
  li {
    padding-left: var(--spacer-9);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 24px;
      height: 24px;
      background-size: contain;
      background: url('../../../assets/imgs/icons/color/check-green.png') no-repeat center;
    }
  }
}
// Custom spacer
.padding-1 {
  @media (min-width: 1400px) {
    padding: 0 148px;
  }
}
.padding-2 {
  @media (min-width: 1400px) {
    padding: 0 196px;
  }
}
.padding-3 {
  padding: 0 16px;
  @media (min-width: 1400px) {
    padding: 0 160px;
  }
}
// Animation
.fade {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
/* Satellite Images */
.object-1,.object-2,.object-3,.object-4,.object-7,.object-8,.object-9 {
  position: absolute;
  img { object-fit: contain; }
  &:before {
    padding-top: 100%;
  }
}
.object-1 {
  max-width: 923px;
  left: 0;
  top: 0;
  transform: translate3d(-22%, -30%, 10px);
}
.object-2 {
  max-width: 305px;
  right: 0;
  top: 10px;
  img {transform: translateX(18px);}
}
.object-3 {
  max-width: 81px;
  right: 36px;
  top: -30px;
  img { object-fit: contain; }
}
.object-4 {
  position: relative;
  max-width: 100%;
  @media (min-width: 992px) {
    position: absolute;
    max-width: 639px;
    right: 160px;
    bottom: -30%;
    z-index: -1;
    img { object-fit: contain; }
  }
  mix-blend-mode: lighten;
}
.object-5 {
  display: none;
  max-width: 717px;
  mix-blend-mode: lighten;
  &:before {
    padding-top: 122.47191%;
  }
  @media (min-width: 992px) {
    display: block;
  }
}
.object-6 {
  max-width: 717px;
  mix-blend-mode: lighten;
  &:before {
    padding-top: 122.47191%;
  }
}
.object-7 {
  max-width: 491px;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3D(-75px,46px,0);
}
.object-8 {
  max-width: 257px;
  right: 121px;
  top: 150px;
  z-index: -1;
  //transform: translate3D(-75px,46px,0);
}
.object-9 {
  max-width: 78px;
  right: 431px;
  top: 0;
  z-index: -1;
}
.object-10 {
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: -1;
  @media (min-width: 768px) {
    width: 153px;
  }
  @media (min-width: 1400px) {
    width: auto;
  }
}
.object-11 {
  mix-blend-mode: lighten;
  width: 307px;
  @media (min-width: 768px) {
    width: 400px;
  }
  @media (min-width: 992px) {
    position: absolute;
    z-index: -1;
    left: 33px;
    bottom: 268px;
    width: 666px;
  }
  @media (min-width: 1023.99px) {
    bottom: 0;
  }
  @media (min-width: 1400px) {
    bottom: 268px;
  }
}
.object-12 {
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: -1;
  width: 118px;
}
.object-13 {
  margin: 100px 84px 0 auto;
}
.object-14 {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  width: 150px;
}
.object-15 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  width: 150px;
}
.object-16 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
  width: 408px;
  height: 408px;
  object-fit: contain;
}
.object-17 {
  position: absolute;
  width: 313px;
  height: 313px;
  left: 0;
  top: 45%;
  z-index: -1;
  transform: translate3D(-50%,-50%,0);
}
.object-1,.object-2,.object-3,.object-7,.object-8,.object-9 {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
