.hero {
  padding-top: 100px;
  @media (min-width: 992px) {
    background: url("../../../assets/imgs/backgrounds/bw_space_lineart_lite.png") no-repeat;
    background-size: 130%;
    background-position: 30px bottom;
  }
  @media (min-width: 1950px) {
    background-size: contain;
    background-position: calc(100vw / 5.9) bottom;
  }
  @media (min-width: 3000px) {
    background-size: contain;
    background-position: calc(100vw / 4) bottom;
  }
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -20%, 0);
  }
}
.introduction {
    position: relative;
    padding-top: 60px;
    @media (min-width: 992px) {
        padding-bottom: 300px;
    }
    @media (min-width: 1200px) {
        margin-top: 150px;
    }
}
section.partner {
    margin-top: var(--spacer-20);
    @media (min-width: 992px) {
        margin-top: 76px;
        .title {
            font-weight: bold;
        }
    }
  button.seemore {
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 50px;
    margin: auto;
    margin-top: -16px;
    font-weight: 500;
  }
}
.partner-group {
  overflow: hidden;
    margin: 0 -28px;
    @media (min-width: 992px) {
        margin: auto;
    }
  ul.partner-group__contain {
    overflow: hidden;
    max-height: 900px;
    transition: max-height .15s ease-in-out;
    &.collapsed {
      max-height: 300px;
      @media (min-width: 575px) {
        max-height: 200px;
      }
      @media (min-width: 992px) {
        max-height: 280px;
      }
      li:not(:nth-child(-n+11)) {
        width: 0;
        max-height: 0;
        opacity: 0;
        margin: 0;
      }
    }
    li {
      display: inline-table;
      width: 100px;
      @media (min-width: 992px) {
        width: 140px;
      }
      height: auto;
      max-height: 80px;
      opacity: 1;
      transition: max-height .15s ease-in-out;
      margin: 0 6px var(--spacer-8);
      &#guildfi {
        width: 70px;
        @media (min-width: 992px) {
          width: 84px;
        }
      }
      @media (min-width: 768px) {
        margin: 0 20px var(--spacer-2);
      }
      @media (min-width: 992px) {
        margin: 0 20px var(--spacer-2);
      }
      @media (min-width: 1140px) {
        margin: 0 40px var(--spacer-10);
      }
      @media (max-width: 413.99px) {
        display: inline-table;
      }

      &#guildfi {
        @media (max-width: 768px) {
          margin: 0 12px var(--spacer-8);
        }
      }
    }
  }
    img {
      width: 100%;
    }
}
.organization {
    margin-top: 30px;
    @media (min-width: 1200px) {
        margin-top: 200px;
    }
}
.team {
    position: relative;
    margin-top: 40px;
    .button-primary {
        min-width: 100px;
        @media (min-width: 320.99px) {
            min-width: 168px;
        }
    }
    .carousel {
        .slick-slide {
            margin: 0 16px;
            display: inline-table;
        }
    }
    &#advisors {
        @media (min-width: 992px) {
          margin-top: 160px;
        }
    }
    &#team {
        @media (min-width: 992px) {
          margin-top: 200px;
        }
    }
}
.feature {
  &__card {
    background: var(--aura-gradient-simple);
    padding: var(--spacer-8);
    @media (min-width: 992px) {
      padding: var(--spacer-10);
    }
    position: relative;
    -webkit-background-clip: text;
    color: var(--aura-white);
    border: none;
    border-radius: 20px;
    background: linear-gradient(110.29deg, rgba(196, 196, 196, 0.2) -7.11%, rgba(71, 71, 71, 0.084) 65.77%, rgba(183, 183, 183, 0.2) 106.66%);
    transition: all .35s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      border: 2px solid transparent;
      background: inherit;
      background-origin: border-box;
      background-clip: border-box;
      -webkit-mask: var(--aura-gradient-simple) padding-box, var(--aura-gradient-simple);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      -webkit-mask-repeat: no-repeat;
    }
    &:hover {
      background: linear-gradient(108.46deg, rgba(94, 230, 208, 0.1) 12.51%, rgba(191, 198, 255, 0.1) 51.13%, rgba(255, 186, 105, 0.2) 87.49%);
      box-shadow: 0 64px 64px rgba(15, 15, 15, 0.1);
    }
    .divider.divider-vertical {
      min-height: 16px;
      background-color: var(--aura-light-gray);
    }
    &-content {
      min-height: 128px;
      @media (min-width: 992px) {
        min-height: 96px;
      }
      @media (min-width: 1200px) {
        min-height: 64px;
      }
    }
    &.aura-card--md {
      height: 400px;
      min-height: unset;
    }
  }
  img.img-bg {
    position: absolute;
    top: -135%;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: translateX(10%);
    @media (min-width: 1400px) {
      top: -175%;
    }
  }
}
.road-map {
    margin-top: 55px;
    //background: url("../../../assets/imgs/backgrounds/bw_space_lineart_lite-3.png");

    &__content {
        list-style-type: unset;
        text-align: start;
    }
    .img-road-map {
        width: 100%;
        max-width: 396px;
        padding: 0 var(--spacer-2);
    }
    @media (min-width: 992px) {
        margin-top: 106px;
    }
    &__img {
        margin: auto;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background: var(--aura-gradient-simple);
        i.icon {
            font-size: 24px;
        }
    }
    .content__info {
        margin-top: var(--spacer-4);
    }
    .carousel {
        z-index: 2;
        margin-top: 18px;
        .slick-slide {
            margin: 0 24px;
            @media (min-width: 992px) {
                margin: 0 32px;
            }
        }
        ::ng-deep button.slick-arrow {
            visibility: hidden;
            opacity: 0;
        }
        ::ng-deep button.slick-prev.slick-arrow {
            left: 16px !important;
        }
        .road-map__time-line {
            background: linear-gradient(108.46deg, #5ee6d0 12.51%, #bfc6ff 51.13%, #ffba69 87.49%);
            background-clip: text;
            color: transparent;
        }
    }
    @media (min-width: 768px) {
        .carousel {
            margin-top: 60px;
            .slick-slide {
                width: 295px;
                padding-left: 20px;
            }
        }
    }
    @media (min-width: 1200px) {
        .carousel {
            .slick-slide {
                width: 220px;
            }

            ::ng-deep button.slick-arrow {
                visibility: visible;
                opacity: 1;
            }

            ::ng-deep .slick-list {
              overflow: hidden;
              padding-left: 16px;
            }

            ::ng-deep button.slick-arrow {
                transform: translateY(-128px);
            }
            ::ng-deep button.slick-prev.slick-arrow {
                left: -15px !important;
            }
        }
    }
    @media (min-width: 1280px) {
        background-size: auto;
    }
}

// Override component
:host::ng-deep {
    .aura-card.aura-card--sm {
        min-height: 296px;
    }
  .team .carousel .slick-list {
    overflow: hidden;
  }
  .feature .carousel .slick-dots {
    margin-bottom: -16px;
  }
}

/* Heading style */
h1,h2 {
    background: var(--aura-gradient-simple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aura-color-logo {
    max-width: 169px;
    &:before {
        padding-top: 38.46153846%;
    }
}

ul.aura-list {
  @media (min-width: 568px) {
    display: grid;
    width: max-content;
    margin: auto;
  }
    li {
        padding-left: var(--spacer-9);
        position: relative;
        margin-top: 16px;
        display: inline-block;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 24px;
            height: 24px;
            background: url("../../../assets/imgs/icons-svg/color/check-green.svg") no-repeat center;
            background-size: cover;
            @media (min-width: 992px) {
                width: 32px;
                height: 32px;
            }
        }
    }
}

// Animation
.fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
.accordion {
    &-item {
        background-color: transparent;
        border: none;
        padding-top: var(--spacer-8);
        padding-bottom: var(--spacer-5);
        &:not(:last-child) {
            border-bottom: 1px solid var(--aura-neutrals-3);
        }
    }
    &-header {
    }
    &-body {
        color: var(--aura-light-gray);
    }
    &__button {
        background-color: transparent;
        color: var(--aura-neutrals-8);
        width: 100%;
        text-align: left;
        position: relative;
        padding-right: 18px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background: url("../../../assets/imgs/icons-svg/basic/chevron-up.svg") center no-repeat;
            background-size: contain;
            transform: translateY(-50%);
            transition: 0.5s 0.5s;
            transition-delay: 0ms;
        }
        &.collapsed:after {
            background: url("../../../assets/imgs/icons-svg/basic/chevron-down.svg") center no-repeat;
        }
    }
}
