<!--Hero-->
<section class="aura-hero px-4 px-lg-9">
    <div class="img-contain">
        <div class="img-title">
            <img src="../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@1x.png" class="w-100"
                srcset="../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@1x.png 1x, ../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@2x.png 2x"
                alt="" loading="lazy" />
        </div>

        <div class="container img-astronaut">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 bonben-animation">
                    <img src="../../../assets/imgs/pages/dashboard/astronaut_1@1x.png"
                        srcset="../../../assets/imgs/pages/dashboard/astronaut_1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_1@2x.png 2x"
                        alt="" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--Introduction-->
<section class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-9 px-4 offset-xl-3 position-relative">
                <h1 class="mb-5 h2-mob">Into the INTEROPERABLE future</h1>
                <div class="sub-text body-mob mb-5 text--white pb-md-12">
                    Aura Network is a <b>Layer-1 NFT-centric blockchain</b>, <br class="d-none d-md-block" />built to
                    accelerate global NFTs adoption by the Internet <br class="d-none d-lg-block" /> of Blockchain.
                </div>
                <!--        <a href="#" class="button button-outline d-inline-block">Learn more</a>-->
                <div class="img--scale object-3">
                    <img src="../../../assets/imgs/pages/dashboard/object_3@1x.png"
                        srcset="../../../assets/imgs/pages/dashboard/object_3@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_3@2x.png 2x"
                        alt="" loading="lazy" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-xl-7 offset-2 offset-xl-5">
                <div class="img--scale object-4 bonben-animation">
                    <img src="../../../assets/imgs/pages/dashboard/astronaut_2-1@1x.png"
                        srcset="../../../assets/imgs/pages/dashboard/astronaut_2-1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_2-1@2x.png 2x"
                        alt="" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--Outstanding Feature-->
<section class="mt-10 feature">
    <div class="container">
        <!-- content -->
        <div class="row">
            <div class="col-12 col-xl-7 px-4">
                <h2 class="mb-5 mb-md-8">Crafting path</h2>
                <div class="sub-text body-mob text--white">
                    It doesn’t matter what your background is, we got you! <br /> Embrace the Metaverse and start
                    now with our tools, guide, documentation, and more. Your NFTs infinite potential awaits!
                </div>
            </div>
        </div>
    </div>
    <article>
        <div class="container px-4 px-lg-0">
            <!-- card-list desktop -->
            <div class="mt-12 aura-card-row">
                <div class="row d-none d-xl-flex">
                    <div class="col-md-4" *ngFor="let cardData of featureCardData">
                        <app-aura-card [size]="'md'" [icon]="cardData.icon" [title]="cardData.title"
                            [desc]="cardData.subTitle"></app-aura-card>
                    </div>
                </div>
                <!-- card-list mobile (carousel) -->
                <div class="row d-xl-none card-mobile">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel" [config]="featureSlideConfig">
                            <div ngxSlickItem *ngFor="let cardData of featureCardData" class="slide">
                                <app-aura-card [size]="'md'" [icon]="cardData.icon" [title]="cardData.title"
                                    [desc]="cardData.subTitle"></app-aura-card>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <!-- how it work -->
            <div class="row mt-10 mt-md-20 pt-md-18">
                <div class="col-12 col-lg-6 my-auto">
                    <!-- content -->
                    <h2>To NFT and Beyond</h2>
                    <div class="sub-text body-mob text--white my-8">
                        Aura Network enhances efficiency through solving the scalability problem. Never cope with
                        sharded chains or fragmented Layer 2 systems again!
                    </div>
                    <!-- list -->
                    <ul class="aura-list sub-text body-mob text--white">
                        <li>Develop NFTs in one-stop destination</li>
                        <li>Support both newcomers and crypto-native</li>
                        <li>Integrate to a new fully-fledged Metaverse</li>
                    </ul>
                    <!-- button group -->
                    <!--          <div class="d-flex justify-content-center justify-content-sm-start mt-12">-->
                    <!--            <a href="#" class="button button-outline d-inline-block">Request a Free Demo</a>-->
                    <!--            <a href="#" class="button button-inline d-inline-block ml-2">Learn more</a>-->
                    <!--          </div>-->
                </div>
                <div class="col d-none d-lg-block">
                    <div class="img--scale object-5 bonben-animation  ">
                        <img src="../../../assets/imgs/pages/dashboard/astronaut_3@1x.png"
                            srcset="../../../assets/imgs/pages/dashboard/astronaut_3@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_3@2x.png 2x"
                            alt="" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!--partner-->

<section class="text-center partner mx-4 mx-md-auto" id="partner">
    <!-- <div class="title body-mob text--light-gray mb-6">Backed by top firms and industry leaders</div>
    <div class="sub-text small-text-mob text--light-gray mb-6">We are proud to collaborate with Global partners network
        and IP owners.</div> -->
    <h2>Backers</h2>
    <div class="sub-text body-mob text--light-gray mb-15 mt-5">We are proud to collaborate with global partners
        network
    </div>
    <div class="partner-group justify-content-center">
        <div>
            <img src="../../../assets/imgs/pages/partner/Coin98-Ventures@1x.png"
                srcset="../../../assets/imgs/pages/partner/Coin98-Ventures@1x.png 1x, ../../../assets/imgs/pages/partner/Coin98-Ventures@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/gbv@1x.png"
                srcset="../../../assets/imgs/pages/partner/gbv@1x.png 1x, ../../../assets/imgs/pages/partner/gbv@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/fpt@1x.png"
                srcset="../../../assets/imgs/pages/partner/fpt@1x.png 1x, ../../../assets/imgs/pages/partner/fpt@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/if@1x.png"
                srcset="../../../assets/imgs/pages/partner/if@1x.png 1x, ../../../assets/imgs/pages/partner/if@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/KuCoin_labs@1x.png"
                srcset="../../../assets/imgs/pages/partner/KuCoin_labs@1x.png 1x, ../../../assets/imgs/pages/partner/KuCoin_labs@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/kyber-Ventures@1x.png"
                srcset="../../../assets/imgs/pages/partner/kyber-Ventures@1x.png 1x, ../../../assets/imgs/pages/partner/kyber-Ventures@2x.png 2x"
                alt="" loading="lazy" />
        </div>
        <div>
            <img src="../../../assets/imgs/pages/partner/g@1x.png"
                srcset="../../../assets/imgs/pages/partner/g@1x.png 1x, ../../../assets/imgs/pages/partner/gbv@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/avatar@1x.png"
                srcset="../../../assets/imgs/pages/partner/avatar@1x.png 1x, ../../../assets/imgs/pages/partner/avatar@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/me@1x.png"
                srcset="../../../assets/imgs/pages/partner/me@1x.png 1x, ../../../assets/imgs/pages/partner/ne@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/TPXVentures@1x.png"
                srcset="../../../assets/imgs/pages/partner/TPXVentures@1x.png 1x, ../../../assets/imgs/pages/partner/TPXVentures@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/Vanda1x.png"
                srcset="../../../assets/imgs/pages/partner/Vanda1x.png 1x, ../../../assets/imgs/pages/partner/Vanda2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/red@1x.png"
                srcset="../../../assets/imgs/pages/partner/red@1x.png 1x, ../../../assets/imgs/pages/partner/red@2x.png 2x"
                  alt="" loading="lazy" />
            <br class="d-none d-lg-block">
            <img src="../../../assets/imgs/pages/partner/deo@1x.png"
                srcset="../../../assets/imgs/pages/partner/deo@1x.png 1x, ../../../assets/imgs/pages/partner/deo@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/oig@1x.png"
                srcset="../../../assets/imgs/pages/partner/oig@1x.png 1x, ../../../assets/imgs/pages/partner/oig@1x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/aha@1x.png"
                srcset="../../../assets/imgs/pages/partner/aha@1x.png 1x, ../../../assets/imgs/pages/partner/aha@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/ecomobi@1x.png"
                srcset="../../../assets/imgs/pages/partner/ecomobi@1x.png 1x, ../../../assets/imgs/pages/partner/ecomobi@2x.png 2x"
                alt="" loading="lazy" />
            <img src="../../../assets/imgs/pages/partner/pe@1x.png"
                srcset="../../../assets/imgs/pages/partner/pe@1x.png 1x, ../../../assets/imgs/pages/partner/pe@2x.png 2x"
                alt="" loading="lazy" />
        </div>
    </div>
</section>

<!--road map-->
<section class="road-map team">
    <div class="container">
        <div class="row align-items-end justify-content-end">
            <div class="col-12 col-xl-8">
                <img src="../../../assets/imgs/backgrounds/ROADMAP-1-mob.png" alt="" loading="lazy"
                    class="d-md-none img-road-map" />
                <ngx-slick-carousel class="carousel carousel--has-arrows carousel--has-separator"
                    [config]="roadmapSlideConfig" (beforeChange)="roadMapSlickChange($event)">
                    <div ngxSlickItem *ngFor="let data of roadmapData" class="slide">
                        <div class="road-map-item text--white text-start">
                            <!-- <div class="road-map__img"><i class="icon {{data.icon}}"></i></div> -->
                            <h3 class="road-map__time-line text-start mt-2 d-inline">{{data.date}}</h3>
                            <ul class="road-map__content mt-4 body">
                                <li class="content__info" *ngFor="let info of data.content" [innerHTML]="info"></li>
                            </ul>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<div class="position-relative organization">
    <!--advisor-->
    <section class="team mt-20 mt-lg-0" id="advisors">
        <div>
            <!--content-->
            <div class="container px-4 px-lg-0">
                <div class="row justify-content-center">
                    <div class="col-8 col-lg-12 text-center">
                        <h2 class="mb-5 h1 h3-mob">Advisory board</h2>
                    </div>
                    <div class="col-12 col-ld-4 text-center">
                        <div class="sub-text body-mob mb-6 text--neutrals-6">
                            Top-notch leaders and strategic insights
                        </div>
                    </div>
                </div>
            </div>
            <!--slider-->
            <div class="container mt-4 mt-md-12">
                <div class="row">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel carousel--has-arrows" [config]="teamSlideConfig"
                            (init)="advisoryInit($event)" (afterChange)="afterAdvisoryChange($event)"
                            (beforeChange)="toggleAttribute($event)">
                            <div ngxSlickItem *ngFor="let data of advisorData" class="slide">
                                <app-staff-card [isAdvisors]="true" [img]="data.img" [name]="data.name"
                                    [position]="data.position" [company]="data.company" [desc]="data.desc"
                                    [socialLink]="data.link">
                                </app-staff-card>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
        <!--Satellite Images-->
        <div class="img--scale object-7">
            <img src="../../../assets/imgs/pages/dashboard/object_4@1x.png"
                srcset="../../../assets/imgs/pages/dashboard/object_4@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_4@2x.png 2x"
                alt="" loading="lazy" />
        </div>
        <div class="img--scale object-8">
            <img src="../../../assets/imgs/pages/dashboard/object_5@1x.png"
                srcset="../../../assets/imgs/pages/dashboard/object_5@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_5@2x.png 2x"
                alt="" loading="lazy" />
        </div>
        <div class="img--scale object-9">
            <img src="../../../assets/imgs/pages/dashboard/object_6@1x.png"
                srcset="../../../assets/imgs/pages/dashboard/object_6@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_6@2x.png 2x"
                alt="" loading="lazy" />
        </div>
    </section>
    <!--team-->
    <section class="team" id="team">
        <div>
            <!--content-->
            <div class="container px-4 px-lg-0">
                <div class="row justify-content-center">
                    <div class="col-8 col-lg-12 text-center">
                        <h2 class="mb-5 h1 h3-mob">Our Team</h2>
                    </div>
                    <div class="col-12 col-ld-4 text-center">
                        <div class="sub-text body-mob mb-6 text--neutrals-6">A diversified team of blockchain believers
                        </div>
                    </div>
                </div>
            </div>
            <!--slider-->
            <div class="container mt-4 mt-md-12">
                <div class="row">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel carousel--has-arrows" [config]="teamSlideConfig"
                            (init)="teamInit($event)" (afterChange)="afterTeamChange($event)"
                            (beforeChange)="toggleAttribute($event)">
                            <div ngxSlickItem *ngFor="let data of teamData" class="slide">
                                <app-staff-card [isAdvisors]="false" [img]="data.img" [name]="data.name"
                                    [position]="data.position" [desc]="data.desc" [socialLink]="data.link">
                                </app-staff-card>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
        <!--Satellite Images-->
        <div class="img--scale object-17 d-none d-sm-block">
            <img src="../../../assets/imgs/pages/dashboard/object_5@1x.png"
                srcset="../../../assets/imgs/pages/dashboard/object_5@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_5@2x.png 2x"
                alt="" loading="lazy" />
        </div>
    </section>
    <!--Satellite Images-->
    <img src="../../../assets/imgs/pages/dashboard/object_6@1x.png" class="object-15 d-none d-lg-block"
        srcset="../../../assets/imgs/pages/dashboard/object_6@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_6@2x.png 2x"
        alt="" loading="lazy" />
    <!-- <img src="../../../assets/imgs/pages/dashboard/object_7@1x.png" class="object-16 d-none d-lg-block" srcset="../../../assets/imgs/pages/dashboard/object_7@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_7@2x.png 2x" alt="" loading="lazy" /> -->
</div>
<!-- FAQ -->
<section class="faq" id="faqs">
    <div class="faq-background d-none d-xl-block"></div>
    <div class="container">
        <div class="row flex-xl-row-reverse justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="faq__contain px-2 px-md-0">
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <h2 class="d-inline-block">FAQs</h2>
                    </div>
                    <div class="accordion mt-9">
                        <div class="accordion-item" *ngFor="let faq of faqData; let i = index">
                            <div class="sub-text accordion-header" id="faq-{{i}}">
                                <button class="collapsed accordion__button pl-0" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse-'+i" aria-expanded="true"
                                    [attr.aria-controls]="'collapse-'+i">
                                    {{faq.quest}}
                                </button>
                            </div>
                            <div id="collapse-{{i}}" class="accordion-collapse collapse"
                                [attr.aria-labelledby]="'faq-'+i">
                                <div class="accordion-body body pl-0" [innerHTML]="faq.anw"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 text-end">
                <!-- <img src="../../../assets/imgs/pages/dashboard/planet@1x.png" class="object-13"
             srcset="../../../assets/imgs/pages/dashboard/planet@1x.png 1x, ../../../assets/imgs/pages/dashboard/planet@1x.png 2x"
             alt="" loading="lazy"/> -->
            </div>
        </div>
    </div>

  <div class="mt-5 faq__img d-md-none">
    <img src="../../../assets/imgs/pages/dashboard/astronaut_2-1@1x.png"
         srcset="../../../assets/imgs/pages/dashboard/astronaut_2-1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_2-1@2x.png 2x"
         alt="" loading="lazy" />
  </div>
</section>
