<!--Hero-->
<section class="aura-hero px-4 px-lg-9">
  <div class="img-contain">
    <div class="img-title">
      <img src="../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@1x.png" class="w-100"
           srcset="../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@1x.png 1x, ../../../assets/imgs/pages/dashboard/AURA_NETWORK_title@2x.png 2x"
           alt="" loading="lazy"/>
    </div>

    <div class="img-astronaut">
      <img src="../../../assets/imgs/pages/dashboard/astronaut_1@1x.png"
           srcset="../../../assets/imgs/pages/dashboard/astronaut_1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_1@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
  </div>
</section>
<!--Introduction-->
<section class="introduction pt-10 pt-md-8">
  <div class="img--scale object-1">
    <img src="../../../assets/imgs/pages/dashboard/object_1@1x.png"
         srcset="../../../assets/imgs/pages/dashboard/object_1@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_1@2x.png 2x"
         alt="" loading="lazy"/>
  </div>
  <div class="container px-4 px-lg-0">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-7 pl-xl-5 offset-xl-4 position-relative">
        <h1 class="mb-5 h2-mob">Into the INTEROPERABLE future</h1>
        <div class="sub-text body-mob mb-5 text--white pb-md-12">
          Aura Network is a <b>layer-1 NFT-centric blockchain</b>, <br/>built to accelerate global NFT adoption by the Internet <br class="d-none d-lg-block"/> of Blockchain.</div>
<!--        <a href="#" class="button button-outline d-inline-block">Learn more</a>-->
        <div class="img--scale object-3">
          <img src="../../../assets/imgs/pages/dashboard/object_3@1x.png"
               srcset="../../../assets/imgs/pages/dashboard/object_3@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_3@2x.png 2x"
               alt="" loading="lazy"/>
        </div>
      </div>
    </div>
  </div>
  <div class="img--scale object-2">
    <img src="../../../assets/imgs/pages/dashboard/object_2@1x.png"
         srcset="../../../assets/imgs/pages/dashboard/object_2@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_2@2x.png 2x"
         alt="" loading="lazy"/>
  </div>
  <div class="img--scale object-4">
    <img src="../../../assets/imgs/pages/dashboard/astronaut_2@1x.png"
         srcset="../../../assets/imgs/pages/dashboard/astronaut_2@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_2@2x.png 2x"
         alt="" loading="lazy"/>
  </div>
</section>
<!--Outstanding Feature-->
<section class="mt-10 mt-lg-0 feature">
  <div class="padding-1">
    <div class="container px-4 px-lg-0">
      <!-- content -->
      <div class="row">
        <div class="col-12 col-xl-6">
          <h2 class="mb-5 mb-md-8">To NFT and Beyond</h2>
          <div class="sub-text body-mob text--white">
            It doesn’t matter what your technical background is, we got you! <br/>
            Getting started with our guide, documentation, and more. Explore the infinite potential with Aura solutions!
          </div>
        </div>
      </div>
    </div>
  </div>
  <article class="padding-1">
    <div class="container px-4 px-lg-0">
      <!-- card-list desktop -->
      <div class="aura-card-row mt-12">
        <div class="row d-none d-lg-flex">
          <div class="col-md-4" *ngFor="let cardData of featureCardData">
            <app-aura-card [size]="'md'"
                           [icon]="cardData.icon"
                           [title]="cardData.title"
                           [desc]="cardData.subTitle"></app-aura-card>
          </div>
        </div>
        <!-- card-list mobile (carousel) -->
        <div class="row d-lg-none">
          <ngx-slick-carousel class="carousel"
                              [config]="featureSlideConfig">
            <div ngxSlickItem *ngFor="let cardData of featureCardData" class="slide">
              <app-aura-card [size]="'md'"
                             [icon]="cardData.icon"
                             [title]="cardData.title"
                             [desc]="cardData.subTitle"></app-aura-card>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <!-- how it work -->
      <div class="row mt-10 mt-md-20 pt-md-18">
        <div class="col-12 col-lg-6 my-auto">
          <!-- logo -->
          <div class="img--scale aura-color-logo mb-5 mb-md-4">
            <img src="../../../assets/imgs/auraMainLogo-1x.png"
                 srcset="../../../assets/imgs/auraMainLogo-1x.png 1x, ../../../assets/imgs/auraMainLogo-1x.png 2x"
                 alt="" loading="lazy"/>
          </div>
          <!-- content -->
          <h2>To NFT and Beyond</h2>
          <div class="sub-text body-mob text--white my-8">
            Aura Network enhances efficiency through solving the scalability problem.
            Developers will never have to cope with sharded chains or fragmented Layer 2 systems again!
          </div>
          <!-- list -->
          <ul class="aura-list body text--white">
            <li>One-stop destination for developing new NFT use cases.</li>
            <li>Support both newcomers and crypto-native.</li>
            <li>Integrate to a new fully-fledged Metaverse.</li>
          </ul>
          <!-- button group -->
<!--          <div class="d-flex justify-content-center justify-content-sm-start mt-12">-->
<!--            <a href="#" class="button button-outline d-inline-block">Request a Free Demo</a>-->
<!--            <a href="#" class="button button-inline d-inline-block ml-2">Learn more</a>-->
<!--          </div>-->
        </div>
        <div class="col d-none d-lg-block">
          <div class="img--scale object-5">
            <img src="../../../assets/imgs/pages/dashboard/astronaut_3@1x.png"
                 srcset="../../../assets/imgs/pages/dashboard/astronaut_3@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_3@2x.png 2x"
                 alt="" loading="lazy"/>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<!--partner-->
<section class="text-center partner mx-4 mx-md-auto" id="partner">
  <div class="title body-mob text--light-gray mb-6">Backed by top firms and industry leaders</div>
  <div class="sub-text small-text-mob text--light-gray mb-6">We are proud to collaborate with Global partners network and IP owners.</div>
  <div class="partner-group justify-content-center">
    <div>
      <img src="../../../assets/imgs/pages/partner/coin98@1x.png"
           srcset="../../../assets/imgs/pages/partner/coin98@1x.png 1x, ../../../assets/imgs/pages/partner/coin98@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/gbv@1x.png"
           srcset="../../../assets/imgs/pages/partner/gbv@1x.png 1x, ../../../assets/imgs/pages/partner/gbv@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/avatar@1x.png"
           srcset="../../../assets/imgs/pages/partner/avatar@1x.png 1x, ../../../assets/imgs/pages/partner/avatar@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/fpt@1x.png"
           srcset="../../../assets/imgs/pages/partner/fpt@1x.png 1x, ../../../assets/imgs/pages/partner/fpt@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/KuCoin_labs@1x.png"
           srcset="../../../assets/imgs/pages/partner/KuCoin_labs@1x.png 1x, ../../../assets/imgs/pages/partner/KuCoin_labs@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/kyber@1x.png"
           srcset="../../../assets/imgs/pages/partner/kyber@1x.png 1x, ../../../assets/imgs/pages/partner/kyber@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
    <div>
      <img src="../../../assets/imgs/pages/partner/TPXVentures@1x.png"
           srcset="../../../assets/imgs/pages/partner/TPXVentures@1x.png 1x, ../../../assets/imgs/pages/partner/TPXVentures@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/Vanda1x.png"
           srcset="../../../assets/imgs/pages/partner/Vanda1x.png 1x, ../../../assets/imgs/pages/partner/Vanda2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/aha@1x.png"
           srcset="../../../assets/imgs/pages/partner/aha@1x.png 1x, ../../../assets/imgs/pages/partner/aha@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/expand@1x.png"
           srcset="../../../assets/imgs/pages/partner/expand@1x.png 1x, ../../../assets/imgs/pages/partner/expand@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/ecomobi@1x.png"
           srcset="../../../assets/imgs/pages/partner/ecomobi@1x.png 1x, ../../../assets/imgs/pages/partner/ecomobi@2x.png 2x"
           alt="" loading="lazy"/>
      <img src="../../../assets/imgs/pages/partner/PENCIL_LOGO@1x.png"
           srcset="../../../assets/imgs/pages/partner/PENCIL_LOGO@1x.png 1x, ../../../assets/imgs/pages/partner/PENCIL_LOGO@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
  </div>
</section>
<!--road map-->
<section class="road-map">
  <div class="">
    <div class="d-flex align-items-center">
      <div class="col-5 d-none d-xl-block">
        <div class="img-astronaut">
          <img src="../../../assets/imgs/pages/dashboard/astronaut_4@1x.png"
               srcset="../../../assets/imgs/pages/dashboard/astronaut_4@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_4@2x.png 2x"
               alt="" loading="lazy"/>
        </div>
      </div>
      <div class="col-12 col-xl-7">
        <img src="../../../assets/imgs/backgrounds/ROADMAP-mob.png" alt="" loading="lazy" class="d-md-none"/>
        <ngx-slick-carousel class="carousel carousel--has-arrows carousel--has-separator"
                            [config]="roadmapSlideConfig">
          <div ngxSlickItem *ngFor="let data of roadmapData" class="slide">
            <div class="road-map-item text--white text-center">
              <div class="road-map__img"><i class="icon {{data.icon}}"></i></div>
              <h3 class="road-map__time-line mt-2">{{data.date}}</h3>
              <div class="road-map__content mt-4 body">
                <div class="content__info" *ngFor="let info of data.content" [innerHTML]="info"></div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<div class="position-relative">
  <!--advisor-->
  <section class="team mt-lg-0" id="advisors">
    <div>
      <!--content-->
      <div class="container px-4 px-lg-0">
        <div class="row">
          <div class="col-12 col-md-10 mx-auto text-center">
            <h2 class="mb-5 h1 h3-mob">Our Advisors</h2>
            <div class="body mb-6 text--neutrals-6">Drive us to pursue the deFi dream.</div>
          </div>
        </div>
      </div>
      <!--slider-->
      <div class="padding-3 pr-0 mt-4 mt-md-12">
        <ngx-slick-carousel class="carousel carousel--has-arrows"
                            [config]="teamSlideConfig">
          <div ngxSlickItem *ngFor="let data of advisorData" class="slide">
            <app-staff-card [isAdvisors]="true"
                            [img]="data.img"
                            [name]="data.name"
                            [position]="data.position"
                            [company]="data.company"
                            [desc]="data.desc"
                            [socialLink]="data.link"
            ></app-staff-card>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <!--Satellite Images-->
    <div class="img--scale object-7">
      <img src="../../../assets/imgs/pages/dashboard/object_4@1x.png"
           srcset="../../../assets/imgs/pages/dashboard/object_4@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_4@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
    <div class="img--scale object-8">
      <img src="../../../assets/imgs/pages/dashboard/object_5@1x.png"
           srcset="../../../assets/imgs/pages/dashboard/object_5@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_5@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
    <div class="img--scale object-9">
      <img src="../../../assets/imgs/pages/dashboard/object_6@1x.png"
           srcset="../../../assets/imgs/pages/dashboard/object_6@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_6@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
  </section>
  <!--team-->
  <section class="team" id="team">
    <div>
      <!--content-->
      <div class="container px-4 px-lg-0">
        <div class="row">
          <div class="col-12 col-md-10 mx-auto text-center">
            <h2 class="mb-5 h1 h3-mob">Our Team</h2>
            <div class="body mb-6 text--neutrals-6">A diversified team of blockchain believers.</div>
          </div>
        </div>
      </div>
      <!--slider-->
      <div class="padding-3 pr-0 mt-4 mt-md-12">
        <ngx-slick-carousel class="carousel carousel--has-arrows"
                            [config]="teamSlideConfig">
          <div ngxSlickItem *ngFor="let data of teamData" class="slide">
            <app-staff-card [isAdvisors]="false"
                            [img]="data.img"
                            [name]="data.name"
                            [position]="data.position"
                            [desc]="data.desc"
                            [socialLink]="data.link"
            ></app-staff-card>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <!--Satellite Images-->
    <div class="img--scale object-17">
      <img src="../../../assets/imgs/pages/dashboard/object_5@1x.png"
           srcset="../../../assets/imgs/pages/dashboard/object_5@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_5@2x.png 2x"
           alt="" loading="lazy"/>
    </div>
  </section>
  <!--Satellite Images-->
  <img src="../../../assets/imgs/pages/dashboard/object_6@1x.png" class="object-15 d-none d-lg-block"
       srcset="../../../assets/imgs/pages/dashboard/object_6@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_6@2x.png 2x"
       alt="" loading="lazy"/>
  <img src="../../../assets/imgs/pages/dashboard/object_7@1x.png" class="object-16 d-none d-lg-block"
       srcset="../../../assets/imgs/pages/dashboard/object_7@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_7@2x.png 2x"
       alt="" loading="lazy"/>
</div>
<!-- FAQ -->
<section class="faq" id="faqs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 d-none d-lg-block">
        <img src="../../../assets/imgs/pages/dashboard/object_9@1x.png" class="object-13 d-none d-md-block"
             srcset="../../../assets/imgs/pages/dashboard/object_9@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_9@2x.png 2x"
             alt="" loading="lazy"/>
      </div>
      <div class="col-12 col-lg-6">
        <div class="faq__contain px-2 px-md-0">
          <!-- logo -->
          <div class="img--scale aura-color-logo">
            <img src="../../../assets/imgs/auraMainLogo-1x.png"
                 srcset="../../../assets/imgs/auraMainLogo-1x.png 1x, ../../../assets/imgs/auraMainLogo-1x.png 2x"
                 alt="" loading="lazy"/>
          </div>
          <img src="../../../assets/imgs/pages/dashboard/object_6@1x.png" class="object-14 d-none d-lg-block"
               srcset="../../../assets/imgs/pages/dashboard/object_6@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_6@2x.png 2x"
               alt="" loading="lazy"/>
          <h2 class="h1 h2-mob d-inline-block">FAQs</h2>
            <ol class="text--white mt-4">
              <li class="mt-10 mt-md-15">
                <div class="title sub-text-mob">How does Aura Network differ from other chains?</div>
                <div class="mt-2 mt-md-4 sub-text body-mob text--light-gray">
                  For Aura Network, interoperability is our competitive advantage, allowing persistent and transferable NFTs and raising asset liquidity.
                  We are shaping NFTs’ culture and expanding the use of NFTs across various industries to go towards a decentralized future.
                </div>
              </li>
              <li class="mt-10 mt-md-15">
                <div class="title sub-text-mob">Why building on Cosmos?</div>
                <div class="mt-2 mt-md-4 sub-text body-mob text--light-gray">
                  There are two main reasons why Aura Network chose Cosmos: agility and cosmos IBC.
                  Cosmos is an ecosystem of blockchains that can scale and interoperate with each other.
                  It solves the limitations of “the old blockchains”. The Inter-Blockchain Communication protocol (IBC) allows blockchains to talk to each other.
                  The backbone of the Cosmos ecosystem, IBC handles transport across different sovereign blockchains.
                  Building on Cosmos can help Aura Network accelerate Global NFTs adoption and become a catalyst for NFTs culture.
                </div>
              </li>
            </ol>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../assets/imgs/backgrounds/bw_space_lineart_4@1x.png" class="w-100 background d-none d-lg-block"
       srcset="../../../assets/imgs/backgrounds/bw_space_lineart_4@1x.png 1x, ../../../assets/imgs/backgrounds/bw_space_lineart_4@2x.png 2x"
       alt="" loading="lazy"/>
  <img src="../../../assets/imgs/pages/dashboard/object_7@1x.png" class="object-10 d-none d-md-block"
       srcset="../../../assets/imgs/pages/dashboard/object_7@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_7@2x.png 2x"
       alt="" loading="lazy"/>
  <img src="../../../assets/imgs/pages/dashboard/astronaut_5@1x.png" class="object-11"
       srcset="../../../assets/imgs/pages/dashboard/astronaut_5@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_5@2x.png 2x"
       alt="" loading="lazy"/>
  <img src="../../../assets/imgs/pages/dashboard/object_8@1x.png" class="object-12 d-md-none"
       srcset="../../../assets/imgs/pages/dashboard/object_8@1x.png 1x, ../../../assets/imgs/pages/dashboard/object_8@2x.png 2x"
       alt="" loading="lazy"/>
</section>
