<section class="hero">
  <div class="container">
    <div class="row pt-lg-6 pb-lg-10">
      <div class="col-12 col-lg-7 d-lg-flex px-4">
        <div class="m-lg-auto">
          <h1 class="h2-mob position-relative">
            Aura Network - Building the Internet of&nbsp;NFTs
            <img src="../../../assets/imgs/pages/dashboard/Stars.png" alt="" width="35px" height="40px" class="stars d-none d-lg-block">
          </h1>
          <div class="sub-text body-mob mt-6 text--white">Aura Network is a scalable, agile and effortless Layer-1 blockchain&nbsp;with&nbsp;a
            comprehensive ecosystem built to accelerate global NFTs adoption.</div>
          <a href="https://docs.aura.network/" class="button button-outline mt-6 mt-lg-8 d-inline-block" target="_blank">
            <span class="text-gradient">Explore the ecosystem</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="bonben-animation">
          <img src="../../../assets/imgs/pages/dashboard/astronaut_lite_1@1x.png"
               srcset="../../../assets/imgs/pages/dashboard/astronaut_lite_1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_lite_1@2x.png 2x"
               alt="" loading="lazy" width="100%" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--Outstanding Feature-->
<section class="mt-10 mt-md-20 mt-xl-10 feature">
    <div class="container">
        <!-- content -->
        <div class="row">
            <div class="col-12 col-xl-7 px-4 text-center text-md-start">
                <h2 class="mb-5 mb-md-8">To NFT and Beyond !</h2>
                <div class="sub-text body-mob text--white">
                  Aura Network enhances efficiency by solving the scalability problem. Never cope with sharded chains or fragmented systems again!
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-0">
            <!-- card-list desktop -->
            <div class="mt-12 aura-card-row">
                <div class="row d-none d-xl-flex">
                    <div class="col-md-4" *ngFor="let cardData of featureCardData">
                        <app-aura-card [size]="'md'" [icon]="cardData.icon" [title]="cardData.title"
                            [desc]="cardData.subTitle"></app-aura-card>
                    </div>
                </div>
                <!-- card-list mobile (carousel) -->
                <div class="row d-xl-none card-mobile">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel" [config]="featureSlideConfig">
                            <div ngxSlickItem *ngFor="let cardData of featureCardData" class="slide">
                                <app-aura-card [size]="'md'" [icon]="cardData.icon" [title]="cardData.title"
                                    [desc]="cardData.subTitle"></app-aura-card>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <!-- how it work -->
            <div class="row mt-10 mt-md-20 pt-md-18 position-relative">
                <div class="col-12 col-lg-7 col-xl-6 mx-auto">
                  <div class="text-center">
                    <!-- content -->
                    <h2>The NFT ecosystem of the future</h2>
                    <div class="sub-text body-mob text--white mt-6 mb-8 mt-lg-8 mb-lg-12">We make NFT experience better!</div>
                  </div>
                    <!-- list -->
                    <ul class="aura-list sub-text body-mob text--white">
                        <li>Develop NFT projects in a new built-in ecosystem</li>
                        <li>Support both newcomers and crypto-native users</li>
                        <li>Integrate to a fully-fledged Metaverse</li>
                        <li>Mint NFTs in great bulk</li>
                    </ul>
                </div>
              <!-- background -->
              <img class="d-none d-xl-block img-bg" src="../../../assets/imgs/backgrounds/bw_space_lineart_lite-2.png" loading="lazy"/>
            </div>
            <!-- cards -->
            <div class="row d-none d-xl-flex mt-lg-12 ">
              <div class="col-12 col-lg-6 mt-8 pr-lg-4">
                <div class="feature__card">
                    <div class="d-flex align-items-end">
                      <h3 class="">Pyxis Safe</h3>
                      <div class="divider divider-vertical mx-4 mb-1"></div>
                      <h4 class="text--light-gray text-capitalize">Truly secured </h4>
                    </div>
                    <div class="mt-4 sub-text feature__card-content">The most secure solution for multi-signature assets management.</div>
                    <div class="mt-8">
                      <a href="https://safe.serenity.aura.network/welcome" class="button button-outline d-inline-flex" target="_blank">
                        <span class="text-gradient">Start now</span>
                      </a>
                    </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mt-8 pl-lg-4">
                <div class="feature__card">
                    <div class="d-flex align-items-end">
                      <h3 class="">Aura Scan</h3>
                      <div class="divider divider-vertical mx-4 mb-1"></div>
                      <h4 class="text--light-gray text-capitalize">Experience centric</h4>
                    </div>
                    <div class="mt-4 sub-text feature__card-content">Governing, staking, NFT notifications... your best blockchain explorer experience so far.</div>
                    <div class="mt-8 d-flex">
                      <a href="https://serenity.aurascan.io/" class="button button-outline d-inline-flex" target="_blank">
                        <span class="text-gradient">Start now</span>
                      </a>
<!--                      <a href="https://halo.aurascan.io/" class="button button-outline d-inline-flex ml-4" target="_blank">-->
<!--                        <span class="text-gradient">Halo</span>-->
<!--                      </a>-->
                    </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mt-8 pr-lg-4">
                <div class="feature__card">
                    <div class="d-flex align-items-end">
                      <h3 class="">Playground</h3>
                      <div class="divider divider-vertical mx-4 mb-1"></div>
                      <h4 class="text--light-gray text-capitalize">Easy peasy</h4>
                    </div>
                    <div class="mt-4 sub-text feature__card-content">The open-source web for smart contracts and dApp development. </div>
                    <div class="mt-8 invisible">
                      <a href="" target="_blank" class="button button-outline d-inline-flex">
                        <span class="text-gradient">Launch now</span>
                      </a>
                    </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mt-8 pl-lg-4">
                <div class="feature__card">
                    <div class="d-flex align-items-end">
                      <h3 class="">NFT Hub</h3>
                      <div class="divider divider-vertical mx-4 mb-1"></div>
                      <h4 class="text--light-gray text-capitalize">Powered up</h4>
                    </div>
                    <div class="mt-4 sub-text feature__card-content">Where community interacts with NFT and Metaverse like never before!</div>
                    <div class="mt-8 invisible">
                      <a href="" target="_blank" class="button button-outline d-inline-flex">
                        <span class="text-gradient">Launch now</span>
                      </a>
                    </div>
                </div>
              </div>
            </div>
            <!-- card-list mobile (carousel) -->
            <div class="row d-xl-none card-mobile mt-8">
              <div class="col-12 aura-card-row">
                <ngx-slick-carousel class="carousel" [config]="featureSlideConfig">
                  <div ngxSlickItem *ngFor="let cardData of featureCardData2" class="slide">
                    <div class="feature__card aura-card--md mr-8">
                      <div class="d-flex align-items-center">
                        <h3 class="mb-2">{{cardData.title}}</h3>
                        <div class="divider divider-vertical mx-4"></div>
                        <h5 class="text--light-gray text-capitalize">{{cardData.subTitle}}</h5>
                      </div>
                      <div class="mt-4 sub-text feature__card-content">{{cardData.content}}</div>
                      <div class="mt-8 d-flex" *ngIf="cardData.buttonLink">
                        <a href="{{cardData.buttonLink}}" target="_blank" class="button button-outline d-inline">
                          <span class="text-gradient">{{cardData.buttonText}}</span>
                        </a>
<!--                        <a href="{{cardData.buttonLink2}}" target="_blank" class="button button-outline d-inline ml-4" *ngIf="cardData.buttonText2 && cardData.buttonLink2">-->
<!--                          <span class="text-gradient">{{cardData.buttonText2}}</span>-->
<!--                        </a>-->
                      </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
        </div>
</section>
<!--partner-->
<section class="text-center partner mx-4 mx-md-auto" id="partner">
  <!-- <div class="title body-mob text--light-gray mb-6">Backed by top firms and industry leaders</div>
  <div class="sub-text small-text-mob text--light-gray mb-6">We are proud to collaborate with Global partners network
      and IP owners.</div> -->
  <h2>Backers and Friends</h2>
  <div class="sub-text body-mob text--white mb-15 mt-5">We are proud to collaborate with global&nbsp;partners
  </div>
  <div class="partner-group">
    <ul class="partner-group__contain px-4" [class.collapsed]="partnerCollapse" id="partner-group__contain">
      <li><img src="../../../assets/imgs/pages/partner/coin98_@1x.png"
             srcset="../../../assets/imgs/pages/partner/coin98_@1x.png 1x, ../../../assets/imgs/pages/partner/coin98_@2x.png 2x"
             alt="" loading="lazy" /> </li>
      <li><img src="../../../assets/imgs/pages/partner/GBV_@1x.png"
               srcset="../../../assets/imgs/pages/partner/GBV_@1x.png 1x, ../../../assets/imgs/pages/partner/GBV_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/FPT_@1x.png"
               srcset="../../../assets/imgs/pages/partner/FPT_@1x.png 1x, ../../../assets/imgs/pages/partner/FPT_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/finanace_@1x.png"
               srcset="../../../assets/imgs/pages/partner/finanace_@1x.png 1x, ../../../assets/imgs/pages/partner/finanace_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li>
        <figure class="my-0">
          <picture>
            <source media="(min-width: 992px)" [srcset]="'../../../assets/imgs/pages/partner/snz_des.png'">
            <source media="(min-width: 320px)" [srcset]="'../../../assets/imgs/pages/partner/snz_mob.png'">
            <img [src]="'../../../assets/imgs/pages/partner/snz_mob.png'" alt="" loading="lazy">
          </picture>
        </figure>
      </li>
      <br class="d-none d-sm-block">
      <li><img src="../../../assets/imgs/pages/partner/ngc@1x.png"
               srcset="../../../assets/imgs/pages/partner/ngc@1x.png 1x, ../../../assets/imgs/pages/partner/ngc@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/kucoin_@1x.png"
               srcset="../../../assets/imgs/pages/partner/kucoin_@1x.png 1x, ../../../assets/imgs/pages/partner/kucoin_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/kyber_@1x.png"
               srcset="../../../assets/imgs/pages/partner/kyber_@1x.png 1x, ../../../assets/imgs/pages/partner/kyber_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li id="guildfi"><img src="../../../assets/imgs/pages/partner/Guildfi@1x.png"
                            srcset="../../../assets/imgs/pages/partner/Guildfi@1x.png 1x, ../../../assets/imgs/pages/partner/Guildfi@2x.png 2x"
                            alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/Avatar_@1x.png"
               srcset="../../../assets/imgs/pages/partner/Avatar_@1x.png 1x, ../../../assets/imgs/pages/partner/Avatar_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <br class="d-none d-md-block">
      <li><img src="../../../assets/imgs/pages/partner/mexc_@1x.png"
           srcset="../../../assets/imgs/pages/partner/mexc_@1x.png 1x, ../../../assets/imgs/pages/partner/mexc_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/gatelabs_@1x.png"
           srcset="../../../assets/imgs/pages/partner/gatelabs_@1x.png 1x, ../../../assets/imgs/pages/partner/gatelabs_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/TPX@1x.png"
           srcset="../../../assets/imgs/pages/partner/TPX@1x.png 1x, ../../../assets/imgs/pages/partner/TPX@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/Zodium_@1x.png"
           srcset="../../../assets/imgs/pages/partner/Zodium_@1x.png 1x, ../../../assets/imgs/pages/partner/Zodium_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <br class="d-none d-sm-block">
      <li><img src="../../../assets/imgs/pages/partner/Vanda_@1x.png"
           srcset="../../../assets/imgs/pages/partner/Vanda_@1x.png 1x, ../../../assets/imgs/pages/partner/Vanda_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/Redline_@1x.png"
               srcset="../../../assets/imgs/pages/partner/Redline_@1x.png 1x, ../../../assets/imgs/pages/partner/Redline_@2x.png 2x"
               alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/k300_@1x.png"
           srcset="../../../assets/imgs/pages/partner/k300_@1x.png 1x, ../../../assets/imgs/pages/partner/k300_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/deo_@1x.png"
           srcset="../../../assets/imgs/pages/partner/deo_@1x.png 1x, ../../../assets/imgs/pages/partner/deo_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <br class="d-none d-sm-block">
      <li><img src="../../../assets/imgs/pages/partner/OIG@1x.png"
           srcset="../../../assets/imgs/pages/partner/OIG@1x.png 1x, ../../../assets/imgs/pages/partner/OIG@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/ahamove-1_@1x.png"
           srcset="../../../assets/imgs/pages/partner/ahamove-1_@1x.png 1x, ../../../assets/imgs/pages/partner/ahamove-1_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/ecomobi_@1x.png"
           srcset="../../../assets/imgs/pages/partner/ecomobi_@1x.png 1x, ../../../assets/imgs/pages/partner/ecomobi_@2x.png 2x"
           alt="" loading="lazy" /></li>
      <li><img src="../../../assets/imgs/pages/partner/pencil_@1x.png" id="pencil"
           srcset="../../../assets/imgs/pages/partner/pencil_@1x.png 1x, ../../../assets/imgs/pages/partner/pencil_@2x.png 2x"
           alt="" loading="lazy" /></li>
    </ul>
    <button class="seemore" (click)="partnerCollapse = !partnerCollapse">
      <span class="text-gradient body">{{ !partnerCollapse ? 'See less' : 'See more'}}</span>
    </button>
  </div>
</section>
<!--road map-->
<section class="road-map team">
    <div class="container">
        <div class="row align-items-end justify-content-end">
            <div class="col-12 col-xl-8">
              <div class="text-center text-xl-start">
                <img src="../../../assets/imgs/backgrounds/roadmap-mini.png" alt="" loading="lazy"
                     class="img-road-map" />
              </div>
                <ngx-slick-carousel class="carousel carousel--has-arrows carousel--has-separator"
                    [config]="roadmapSlideConfig" (beforeChange)="roadMapSlickChange($event)">
                    <div ngxSlickItem *ngFor="let data of roadmapData" class="slide">
                        <div class="road-map-item text--white text-start">
                            <h3 class="road-map__time-line text-start mt-2 d-inline">{{data.date}}</h3>
                            <ul class="road-map__content mt-4 body">
                                <li class="content__info" *ngFor="let info of data.content" [innerHTML]="info"></li>
                            </ul>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!--organization-->
<div class="position-relative organization">
    <!--team-->
    <section class="team" id="team">
      <div>
        <!--content-->
        <div class="container px-4 px-lg-0">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h2 class="mb-5">Our Teams</h2>
            </div>
            <div class="col-12 col-ld-4 text-center">
              <div class="sub-text body-mob mb-6 text--neutrals-6">A diversified team of blockchain believers</div>
            </div>
          </div>
        </div>
        <!--slider-->
        <div class="container mt-4 mt-md-12">
          <div class="row">
            <div class="col-12">
              <ngx-slick-carousel class="carousel carousel--has-arrows" [config]="teamSlideConfig"
                                  (init)="teamInit($event)"
                                  (beforeChange)="toggleAttribute($event)">
                <div ngxSlickItem *ngFor="let data of teamData" class="slide">
                  <app-staff-card [isAdvisors]="false" [img]="data.img" [name]="data.name"
                                  [position]="data.position" [desc]="data.desc" [socialLink]="data.link">
                  </app-staff-card>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--advisor-->
    <section class="team" id="advisors">
        <div>
            <!--content-->
            <div class="container px-4 px-lg-0">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="mb-5">Advisory Board</h2>
                    </div>
                    <div class="col-12 col-ld-4 text-center">
                        <div class="sub-text body-mob mb-6 text--neutrals-6">
                            Top-notch leaders and strategic insights
                        </div>
                    </div>
                </div>
            </div>
            <!--slider-->
            <div class="container mt-4 mt-md-12">
                <div class="row">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel carousel--has-arrows" [config]="teamSlideConfig"
                            (init)="advisoryInit($event)"
                            (beforeChange)="toggleAttribute($event)">
                            <div ngxSlickItem *ngFor="let data of advisorData" class="slide">
                                <app-staff-card [isAdvisors]="true" [img]="data.img" [name]="data.name"
                                    [position]="data.position" [company]="data.company" [desc]="data.desc"
                                    [socialLink]="data.link">
                                </app-staff-card>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
