.section-1 {
    // background-image: url("../../../assets/img/Pattern_galaxy.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 830px;
    display: flex;
    // align-items: center;
    position: relative;
    padding-bottom: 0;
}

.img-bannner {
    position: relative;
    mix-blend-mode: screen;
    .img-main {
        mix-blend-mode: screen;
        top: 75px;
        left: -130px;
        position: absolute;
        z-index: -1;
    }
    .img-animation {
        position: absolute;
        top: -30px;
        left: -130px;
        animation: bonben1 5s linear 2s infinite reverse;
    }
}

.text-top {
    position: relative;
    z-index: 10;
    .content {
        text-align: right;
        // display: flex;
        // flex-direction: column;
        // align-items: end;
    }
}

img {
    padding-bottom: 30px;
}

@keyframes bonben1 {
    0% {
        // opacity: 0.1;
        transform: translateY(0);
    }
    50% {
        // opacity: 0.3;
        transform: translateY(2%);
    }
    100% {
        // opacity: 0.5;
        transform: translateY(0);
    }
}

@keyframes bonben {
    0% {
        // opacity: 0.1;
        transform: translate(0%, 0%);
    }
    10% {
        // opacity: 0.9;
        transform: translate(1%, -1%);
    }
    20% {
        // opacity: 1;
        transform: translate(2%, 0%);
    }
    30% {
        // opacity: 0.5;
        transform: translate(1%, 1%);
    }
    40% {
        // opacity: 1;
        transform: translate(0%, 0%);
    }
    50% {
        // opacity: 0.3;
        transform: translate(-1%, -1%);
    }
    60% {
        // opacity: 0.9;
        transform: translate(-2%, 0%);
    }
    70% {
        // opacity: 0.7;
        transform: translate(-1%, -1%);
    }
    80% {
        // opacity: 1;
        transform: translate(0%, 0%);
    }
    90% {
        // opacity: 0.5;
        transform: translate(1%, 1%);
    }
}

marquee {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.2;
}

.img-2-wrap {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 0%;
        width: 94%;
        height: 95%;
        background: linear-gradient(180.5deg, rgba(91, 233, 211, 0) 16.54%, #1e71fe 95.9%, #f92713 117.39%);
        opacity: 0.6;
        border-radius: 60px;
        z-index: 1;
    }
    .img-2 {
        position: relative;
        z-index: 2;
    }
}

.img-card-wrap {
    width: 194px;
    height: 194px;
    position: absolute;
    top: -20%;
    left: calc(50% - 90px);
    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 13%;
    //     top: 13%;
    //     width: 74%;
    //     height: 74%;
    //     border-radius: 50%;
    //     background: linear-gradient(130.23deg, #ce4da4 23.87%, #8a79ff 100%), #c4c4c4;
    //     z-index: 1;
    // }
    .img-card {
        position: relative;
        z-index: 2;
        width: 100%;
    }
}

.card-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}

.card-body {
    text-align: center;
}

.card-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15.4286px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    padding: 0 30px;
    padding-bottom: 25px;
    .hl-2 {
        font-weight: bold;
        color: #ffffff;
        font-family: Poppins;
        text-transform: unset;
        letter-spacing: normal;
    }
}

.btn-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #5db2fe;
    text-decoration: unset;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes zoominout {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.time-line-wrap {
    position: relative;
    padding: 30px;
    &::before {
        content: "";
        width: 2px;
        height: 100%;
        background-color: white;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.1);
    }
    .item {
        display: flex;
        border-radius: 17.1429px;
        background: rgba(255, 255, 255, 0.1);
        margin-bottom: 26px;
        position: relative;
        &:hover {
            // box-shadow: 0px 2px 4px #ffffff;
            background: linear-gradient(266.49deg, #5be9d3 -129.89%, #1e71fe 14.62%, #f92713 153.98%);
            .content-left {
                .time {
                    box-shadow: 0px 17.1429px 42.8571px #000000;
                    // transform: scale(1.2, 1.2);
                    // animation: zoominout 3s infinite linear;
                }
            }
            &::before {
                transform: scale(1.5, 1.5) rotate(45deg);
            }
        }
        &::before {
            content: "";
            width: 10.96px;
            height: 10.96px;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(266.49deg, #5be9d3 -129.89%, #1e71fe 14.62%, #f92713 153.98%);
            transform: rotate(45deg);
            left: -34px;
            top: calc(50% - 5px);
            z-index: 1;
        }
        .content-left {
            .time {
                background: linear-gradient(272.5deg, #5be9d3 -69.33%, #1e71fe 46.93%, #f92713 159.04%);
                width: 69px;
                height: 69px;
                border-radius: 50%;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.750316px;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 26px;
                animation: zoominout 3s infinite linear;
            }
        }
        .content-right {
            padding-top: 26px;
            padding-right: 26px;
            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.750316px;
                color: #ffffff;
                display: flex;
                .month {
                    opacity: 0.3;
                    padding-right: 10px;
                }
            }
            ul {
                li {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.25px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}

.slick-container,
.slider-staff {
    margin: 30px;
    .card-item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .img-wrapper {
            position: relative;
            img {
                width: 100%;
            }
            .linkin {
                background-image: url("../../../assets/img/ourCommunity/svg/cib_linkedin-in.svg");
                width: 32px;
                height: 32px;
                border-radius: 50%;
                position: absolute;
                bottom: 35px;
                right: 10px;
                &:hover {
                    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
                }
            }
        }
        .name {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */
            color: #ffffff;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
        }
        .sub {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            mix-blend-mode: normal;
            // opacity: 0.7;
        }
        .des {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
            opacity: 0.7;
            // text-align: justify;
        }
    }
}

.list-logo {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  img {
    padding: 16px;
    max-width: 220px;
  }
}

.card {
    min-height: 450px;
    padding-top: 125px;
}

@media only screen and (max-width: 1366px) {
    .card {
        min-height: 500px;
    }
}

.card-button {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    // border: 1px solid #eae9f2;
    border-radius: 10px;
    min-height: 100px;
    margin: 10px;
    padding: 0 50px;
    img {
        padding-bottom: 0;
    }
    .text {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.2px;
        color: #ffffff;
    }
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    .social-wrap {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            cursor: pointer;
        }
    }
    // opacity: 0.4;
}

.w-79 {
    width: 79px;
}

.title {
    text-align: right;
}

.sub-tit {
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
}

.content-tit {
    text-align: right;
    width: 80%;
}

.button-group {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .card {
        min-height: 450px;
    }
    .section {
        padding: 30px 0;
    }
    .section-1 {
        // padding: 0;
        min-height: unset;
        overflow: hidden;
        position: relative;
    }
    .img-bannner {
        height: calc(100vh - 100px);
        width: 100%;
        top: 70px;
        left: 0;
        position: absolute;
        .img-main {
            top: 40px;
            left: -155px;
            position: absolute;
            width: 750px;
        }
        .img-animation {
            left: -135px;
            top: -35px;
            width: 600px;
        }
    }
    .text-top {
        height: calc(100vh - 60px);
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        .content {
            display: block;
            text-align: center;
            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 20px;
                text-align: center;
                letter-spacing: -1px;
            }
            .sub-tit {
                font-size: 28px;
                font-weight: 600;
                font-size: 28px;
                line-height: 50px;
                text-align: center;
                letter-spacing: -1px;
            }
            .content-tit {
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
    .button-group {
        justify-content: center;
        margin-bottom: 50px;
    }
    .slider-staff {
        flex-direction: column;
        align-items: center;
        .card-item {
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
    .time-line-wrap {
        padding-right: 0;
        .item {
            .content-left {
                .time {
                    margin-right: 10px;
                }
            }
        }
    }
    .list-logo {
        flex-direction: row;
        flex-flow: wrap;
        justify-content: flex-start;
        img {
            padding-bottom: 30px;
            max-width: 40%;
            min-width: 40%;
            margin: 0 5%;
            max-height: 68px;
        }
    }
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    .img-bannner {
        .img-main {
            top: 40px;
            left: -115px;
            width: 750px;
        }
        .img-animation {
            left: -122px;
            top: -35px;
            width: 600px;
        }
    }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .img-bannner {
        .img-main {
            top: 26px;
            left: -128px;
            width: 750px;
        }
        .img-animation {
            left: -130px;
            top: -37px;
            width: 600px;
        }
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .img-bannner {
        .img-main {
            top: 40px;
            left: -140px;
            width: 750px;
        }
        .img-animation {
            left: -141px;
            top: -35px;
            width: 600px;
        }
    }
}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 3) {
    .img-bannner {
        .img-main {
            top: -10px;
            left: -128px;
            width: 653px;
        }
        .img-animation {
            left: -92px;
            top: -37px;
            width: 460px;
        }
    }
}
