<div id="layout-wrapper">
    <!-- header -->
    <app-header></app-header>
    <div class="main-content" id="mainContent">
        <div class="page-content">
            <router-outlet></router-outlet>
          <!--Satellite Images-->
          <div class="object-1">
            <img src="../../../assets/imgs/pages/dashboard/object_1-lite.png" loading="lazy" width="100%" height="auto"/>
          </div>
          <div class="object-2">
            <img src="../../../assets/imgs/backgrounds/bw_space_lineart_lite-3.png" alt="" class="object__background">
            <img class="bonben-animation"
              src="../../../assets/imgs/pages/dashboard/astronaut_4-1@1x.png" srcset="../../../assets/imgs/pages/dashboard/astronaut_4-1@1x.png 1x, ../../../assets/imgs/pages/dashboard/astronaut_4@2x.png 2x" alt="" loading="lazy" />
          </div>
          <div class="object-3">
            <img src="../../../assets/imgs/pages/dashboard/object_5@2x.png" loading="lazy" width="100%" height="auto"/>
          </div>
        </div>
        <!-- footer -->
        <app-footer></app-footer>
    </div>
    <button class="button-float {{pageYOffset > 0 ? 'show' : ''}}" [class.active]="scrolling" (click)="scrollToTop()"></button>
</div>
