#mainContent {
  position: relative;
  .page-content {
    overflow: hidden;
    margin-bottom: 40px;
    @media (min-width: 992px) {
      margin-bottom: 35px;
    }
  }
  .object-1 {
    position: absolute;
    left: -38%;
    top: 15%;
    z-index: -1;
    @media (min-width: 1440px) {
      left: -30%;
      top: 15%;
    }
    @media (min-width: 1920px) {
      left: -15%;
    }
    @media (min-width: 2559.99px) {
      left: -10%;
      top: 16%;
      z-index: 1;
    }
    @media (min-width: 3000px) {
      left: 0;
      top: 18%;
    }
  }
  .object-2 {
    position: absolute;
    left: -20%;
    top: 51%;
    @media (min-width: 1366px) {
      left: -15%;
      top: 51%;
    }
    @media (min-width: 1440px) {
      left: -11%;
    }
    @media (min-width: 1600px) {
      left: -5%;
      top: 51.6%;
    }
    @media (min-width: 1920px) {
      left: 3%;
      top: 52%;
    }
    @media (min-width: 2559.99px) {
      left: 16%;
      top: 52%;
    }
    @media (min-width: 2879.99px) {
      left: 19%;
      top: 52.3%;
    }
    @media (min-width: 3000px) {
      left: 27%;
      top: 53.3%;
    }
  }
  .object-1, .object-2 {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
