#mainContent {
  position: relative;
  overflow: hidden;
  .page-content {
    overflow: hidden;
    margin-bottom: 40px;
    @media (min-width: 992px) {
      margin-bottom: 80px;
    }
  }
  .object-1 {
    width: 537px;
    height: 600px;
    position: absolute;
    left: calc(50% - 485px);
    top: 20%;
    transform: translateX(-100%);
    z-index: -1;
  }
  .object-2 {
    position: absolute;
    left: calc(50% - 200px);
    transform: translateX(-100%);
    top: 57%;
    z-index: -1;
    @media (min-width: 2559.99px) {
      top: 56%;
    }
    @media (min-width: 3000px) {
      top: 57%;
    }
    .object__background {
      position: absolute;
      right: 0;
      top: -20%;
      transform: rotate(180deg);
    }
  }
  .object-3 {
    position: absolute;
    width: 587px;
    height: 586px;
    right: calc(50% - 1050px);
    top: 79%;
    z-index: -1;
  }
  .object-1, .object-1-1, .object-2, .object-3 {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
