#mainContent {
  position: relative;
  .page-content {
    overflow: hidden;
    margin-bottom: 40px;
    @media (min-width: 992px) {
      margin-bottom: 35px;
    }
  }
  .object-1 {
    position: absolute;
    left: calc(50% - 408px);
    top: 15%;
    transform: translateX(-100%);
    z-index: -1;
    @media (min-width: 1440px) {
      top: 15%;
    }
    @media (min-width: 2559.99px) {
      top: 16%;
      z-index: 1;
    }
    @media (min-width: 3000px) {
      top: 18%;
    }
  }
  .object-3 {
    width: 305px;
    height: 305px;
    position: absolute;
    left: calc(50% + 230px);
    top: 19%;
    transform: translateX(100%);
    z-index: -1;
    @media (min-width: 1400px) {
      left: calc(50% + 165px);
    }
    @media (min-width: 2559.99px) {
      top: 20%;
    }
    @media (min-width: 3000px) {
      top: 22%;
    }
    img { width: 100%; }
  }
  .object-2 {
    position: absolute;
    left: calc(50% - 200px);
    transform: translateX(-100%);
    top: 52%;
    @media (min-width: 2559.99px) {
      top: 53%;
    }
    @media (min-width: 3000px) {
      top: 54%;
    }
  }
  .object-1, .object-2, .object-3 {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
