:root {
  /* Colors */
  --brand-gradient: linear-gradient(-21deg, rgba(255, 213, 105, 1) 0%, rgba(252, 142, 79, 1) 51.50560140609741%, rgba(255, 105, 123, 1) 100%);
  --pri: #fd9552;
  --text: #968c7c;
  --white: #ffffff;
  --strock: rgba(160, 150, 114, 0.15);

  /* Fonts */
  /* Effects */
}
.table,
.table * {
  box-sizing: border-box;
}
.table {
  background: var(--bg, #24211d);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.history {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  font-weight: 700;
  position: relative;
  width: 94.42px;
}
.frame-29612 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header-table {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  padding: 0;
}
.header2 {
  background: #292523;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: var(--text, #968c7c);
  text-align: left;
  font-family: var(--desktop-body-s-sb-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--desktop-body-s-sb-font-size, 14px);
  line-height: var(--desktop-body-s-sb-line-height, 18px);
  letter-spacing: var(--desktop-body-s-sb-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-sb-font-weight, 600);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header3 {
  background: #292523;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.frame-418 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.frame-359 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-560 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._18-24-24-15-10-2024 {
  color: var(--global-grayscale-grey-1, #e5e7ea);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-554 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.efa-8892-c-2-c-9-a-8-e-63 {
  color: var(--link, #13b0ff);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.frame-570 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-571 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-561 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
._20-aura {
  color: var(--global-grayscale-grey-1, #e5e7ea);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-572 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.pending {
  color: var(--global-grayscale-grey-1, #e5e7ea);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-430 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
._200-aura {
  color: var(--global-grayscale-grey-1, #e5e7ea);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.success {
  color: var(--success, #67c091);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-432 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.failed {
  color: var(--error, #d5625e);
  text-align: left;
  font-family: var(--desktop-body-s-r-font-family, "Inter-Regular", sans-serif);
  font-size: var(--desktop-body-s-r-font-size, 14px);
  line-height: var(--desktop-body-s-r-line-height, 18px);
  letter-spacing: var(--desktop-body-s-r-letter-spacing, 0.01em);
  font-weight: var(--desktop-body-s-r-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-433 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.frame-434 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.frame-431 {
  border-style: solid;
  border-color: var(--global-grayscale-grey-9, #363843);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
