<div class="footer">
    <div class="container">
        <div class="footer-content">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/Logo2.svg" alt="" class="d-inline-block align-text-top">
            </a>
            <div class="footer-text">
                © 2021 Aura Network. All rights reserved
            </div>
            <!-- <div class="footer-social">
                <img src="../../assets/img/Group.png" alt="" class="">
                <img src="../../assets/img/Vector (1).png" alt="" class="">
                <img src="../../assets/img/Vector (2).png" alt="" class="">
                <img src="../../assets/img/Vector.png" alt="" class="">
            </div> -->
        </div>
    </div>
</div>