<div class="footer container-fluid">
    <div class="d-flex justify-content-between">
      <div class="caption-2">Copyright © 2022 Aura Network. All rights reserved</div>
      <div class="d-flex">
        <a href="#">
          <i class="icon icon-fb-circle"></i>
        </a>
        <a href="#">
          <i class="icon icon-twitter"></i>
        </a>
        <a href="#">
          <i class="icon icon-instagram"></i>
        </a>
        <a href="#">
          <i class="icon icon-behance"></i>
        </a>
        <a href="#">
          <i class="icon icon-dribble"></i>
        </a>
      </div>
    </div>
</div>
