.footer {
    background: rgba(255, 255, 255, 0.1);
    .footer-content {
        height: 86px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-text {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            text-transform: capitalize;
            color: #ffffff;
            opacity: 0.4;
        }
        .footer-social {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 200px;
            opacity: 0.4;
        }
    }
}
