<footer>
  <section class="footer__blocks d-flex flex-column flex-lg-row">
    <div class="footer__menu pb-10">
      <div class="footer__logo">
        <img srcset="../../assets/imgs/auraMainLogo-1x.png 1x, ../../assets/imgs/auraMainLogo-2x.png 2x"
             src="../../assets/imgs/auraMainLogo-1x.png"
             alt="Aura Logo">
      </div>
      <div class="ml-8 menu body">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Ecosystem</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__contact">
      <div class="mx-lg-auto d-flex d-lg-inline-block justify-content-between">
        <div class="sub-text contact__title">Contact</div>
        <div class="small-text mt-md-10 ml-8 ml-md-0">
          <div class="mb-2">43252 Borer Mountains</div>
          <div class="mb-2">Zackerychester</div>
          <div class="mb-2">Bahamas</div>
          <div>732-528-4945</div>
        </div>
      </div>
    </div>
    <div class="footer__cta pb-10 pb-lg-0">
      <div class="sub-text">newsletter</div>
      <div class="small-text mt-2 mt-md-10">
        Subscribe our newsletter to get more free design course and resource.
      </div>
      <div class="mt-6">
        <form #ctaForm="ngForm" (ngSubmit)="onSubmitCTAForm(); ctaForm.reset()" class="aura-form single-input-field">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" [(ngModel)]="formData.email" name="inputEmail" #email="ngModel">
            <button class="button button-outline" type="submit">
              <img src="assets/imgs/icons/color/arrow-right-white.svg" alt="" width="14" height="9">
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="bottom-bar pt-lg-6 pb-lg-5 pt-10 pb-9">
    <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
      <div class="caption-2 mt-10 mt-lg-0">Copyright © 2022 Aura Network. All rights reserved</div>
      <div class="d-flex">
        <a href="#">
          <i class="icon icon-fb-circle"></i>
        </a>
        <a href="#">
          <i class="icon icon-twitter"></i>
        </a>
        <a href="#">
          <i class="icon icon-instagram"></i>
        </a>
        <a href="#">
          <i class="icon icon-behance"></i>
        </a>
        <a href="#">
          <i class="icon icon-dribble"></i>
        </a>
      </div>
    </div>
  </section>
</footer>
