footer {
  background-color: var(--aura-black);
  .footer__blocks {
    display: flex;
    border: 1px solid var(--aura-neutrals-3);
    @media (min-width: 1400px) {
      padding-left: 196px;
      padding-right: 196px;
    }
  }
  .footer__menu {
    flex: 0 1 100%;
    padding-top: 40px;
    padding-right: 86px;
    display: flex;
    .menu { min-width: 160px; }
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-top: var(--spacer-4);
        a {
          color: var(--aura-light-gray);
          text-decoration: none;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .footer__logo {
    width: 160px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .footer__contact {
    flex: 0 1 100%;
    padding: 40px 86px 70px 86px;
    border-left: 1px solid var(--aura-neutrals-3);
    border-right: 1px solid var(--aura-neutrals-3);
    color: var(--aura-white);
  }
  .footer__cta {
    flex: 0 1 100%;
    padding-top: 40px;
    padding-left: 86px;
    color: var(--aura-white);
    form { min-width: 256px; }
  }
  .bottom-bar {
    padding-top: var(--spacer-6);
    padding-bottom: var(--spacer-5);
    @media (min-width: 1400px) {
      padding-left: 196px;
      padding-right: 196px;
    }
    .caption-2 {
      font-size: 12px;
      line-height: 20px;
      color: var(--aura-light-gray);
      font-family: SFProDisplay;
    }
    i.icon {
      margin: 0 var(--spacer-3);
    }
  }
}
