.footer {
  background-color: var(--aura-black);
  padding-top: var(--spacer-6);
  padding-bottom: var(--spacer-5);
  @media (min-width: 1400px) {
    padding-left: 196px;
    padding-right: 196px;
  }
  .caption-2 {
    font-size: 12px;
    line-height: 20px;
    color: var(--aura-light-gray);
    font-family: SFProDisplay;
  }
  i.icon {
    margin: 0 var(--spacer-3);
  }
}
