
name: Continuous integration

on:
  push:
    branches: main

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
      
      - name: Use Node.js 
        uses: actions/setup-node@v3
        with:
          node-version: 12
      - name: Install dependencies
        run: npm install
      - run: npm run build --if-present
      
      - name: Configure AWS Credential
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Deploy page to bucket
        run: aws s3 sync ./dist/frontend s3://aura-landing-page
        
      - name: Invalidate dashboard cloudfront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DIST_ID }} --paths "/*"
